// reset radio & checkbox
// .radio, .checkbox, .radio-inline, .checkbox-inline {
//   input {
//     -webkit-appearance : auto;
//   }
// }
section {
  padding : 30px 0;
}
.btn-line {
  color : $white;
  background : $brand-line;
  &:hover {
    background : transparentize($brand-line,.4);
  }
}
.btn-facebook {
  color : $white;
  background : $brand-facebook;
  &:hover {
    background : transparentize($brand-facebook,.4);
    color : $white;
  }
}
.btn-google {
  color : $white;
  background : $brand-google;
  &:hover {
    background : transparentize($brand-google,.4);
    color : $white;
  }
}

.btn-main {
  border : 1px solid $main;
  background : $main;
  box-shadow : $shadow-button;
  color : $white;
  transition : all .3s ease-in-out;
  &:hover {
    background : $none;
    color : $main;
  }
}

.btn-main-dark {
  border : 1px solid $main-dark;
  background : $main-dark;
  box-shadow : $shadow-button;
  color : $white;
  &:hover {
    background : $none;
    color : $main-dark;
  }
}

.btn-second {
  border : 1px solid $second;
  background : $second;
  box-shadow : $shadow-button;
  color : $white;
  &:hover {
    background : $white;
    color : $second;
  }
}

.btn {
  border-radius : 0;
  padding : 10px 40px;
}

.btn.btn-icon {
  padding : .25rem .5rem;
}
.bg-main {
  background : $main;
}
.bg-second {
  background : $second;
}


.btn-box-1 {
  // padding-top: 30px;
  display : inline-block;
  vertical-align : middle;
  // width: 180px;
  .button-style {
    color : #4D3B12;
    border : solid 1px rgba(77, 59, 18, .43);
    // width: 100%;
    padding-left : 20px;
    padding-right : 40px;
  }
  .button-style:hover {
    color : #FFFFFF;
    background-color : #4D3B12;
  }
  .button-style.back {
    padding-right : 20px;
    padding-left : 40px;
    &:before {
      right : 0;
      left : 20px;
      transform : rotate(-180deg);
    }
  }

  .button-style.brown2 {
    color : #FFFFFF;
    background-color : #493200;
    border-color : #493200;
  }

  .button-style.brown2:hover {
    opacity : 1;
    color : #493200;
    background-color : #FFFFFF;
  }
}

.text-main {
  color : $main;
}
.text-main-dark {
  color : $main-dark;
}
.text-second {
  color : $second;
}
.text-second-light {
  color : $second-light;
}
.text-white {
  color : #FFFFFF;
}
.text-danger {
  color : #F04400;
}

.radio, .radio-inline {
  input {
    -webkit-appearance : radio;
  }
}
.checkbox, .checkbox-inline {
  input {
    -webkit-appearance : checkbox;
  }
}

.radio-inline, .checkbox-inline {
  label {
    cursor : pointer;
  }
}

.s-bn {
  padding : 14.3%;
  width : 100%;
  min-height : 200px;
  background-position : center;
  background-repeat : no-repeat;
  background-size : cover;
  position : relative;
  .text-box {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    h1 {
      font-size : 24px;
      font-weight : 600;
      color : white;
      text-shadow : 2px 2px 10px rgba(0,0,0,.7);
    }
    &.has-info {
      // transform : unset;
      background-color : #FFFFFFDB;
      left : 5%;
      right : 5%;
      transform : translate(0, -50%);
      border-radius : 3px;
      box-shadow : 5px 5px 10px rgb(0 0 0 / .2);
      padding : 0 15px;
      // max-width : 100%;
      // margin : 0 15px;
      // max-height : 70%;
      // top : unset;
      // left : 0px;
      // bottom : 20px;
      // overflow : hidden;
      h1 {
        color : $font;
        text-shadow : unset;
        font-size : 24px;
        font-weight : 500;
      }
      p {
        font-size : 15px;
        // color : #000000;
        // text-shadow : 2px 2px 2px rgba(255,255,255,.5);
        @include textbox(3);
      }
    }
  }
  @include res(phone) {
    .text-box {
      &.has-info {
        max-width : 500px;
        margin : unset;
        left : 20px;
      }
    }
  }
  @include res(xlpad) {
    .text-box {
      h1 {
        font-size : 36px;
      }
      &.has-info {
        p {
          @include textbox(4);
        }
      }
    }
  }
}
.title-page {
  text-align : center;
  color : $font;
  font-size : 26px;
  padding : 0px 0 5px;
  @include res(pad) {
    padding : 0px 0 15px;
    font-size : unset;
    font-size : 32px;
  }
}
.subtitle-page {
  // font-weight : 500;
  // margin : 0;
  // color : #8C6000;
  // margin-bottom : 20px;
  // font-size : 26px;
  // @include res(pad) {
  //   font-size : 30px;
  // }
}
.subtitle-page {
  display : inline-block;
  padding : 5px 0 10px;
  margin-bottom : 15px;
  font-weight : 700;
  border-bottom : solid 2px #BE8915;
  font-size : 24px;
}
.desc-page {
  color : $font;
}

.form-control {
  border-radius : 0;
  border : 1px solid #DDDDDD;
  &:focus {
    border-color : $main;
  }
  &.read-only:focus {
    border-color : #DDDDDD;
  }
}


.breadcrumbwrap {
  // background-color : #F7F4F09E;
  padding : 12px 0 4px;
  .breadcrumb {
    margin : 0;
    padding : 8px 0;
  }
  @include res(pad) {
    padding : 7px 0 5px;
  }
}



.nav-pills {
  @include flexbox(x);
  flex-wrap : wrap;

  li {
    margin : 0 .5rem 5px;
  }
  > li:not(.active) > a {
    border : 1px solid #CCCCCC;
  }
  > li:hover > a {
    background-color : #FBFBFB;
  }
  > li.active > a {
    &, &:hover, &:focus {
      background : $main;
      border : 1px solid $main;
    }
  }
}

.radio-btn-box {
  margin-left : 0px;
  padding-left : 0px;
  position : relative;
  display : inline-block;
  .radio-btn {
    border : 1px solid #CCCCCC;
    color : #231916;
    background : white;
    padding : 10px 14px;
    display : block;
    border-radius : 4px;
    &:hover {
      background-color : #EEEEEE;
      color : #CC9E00;
      cursor : pointer;
    }
  }
  input {
    display : none;
  }
  input:checked + label {
    color : #FFFFFF;
    background : #DFB523;
    border : 1px solid #DFB523;
    &:hover {
      color : #FFFFFF;
      background : #DFB523;
      border : 1px solid #DFB523;
      cursor : auto;
    }
  }
}

.bg-gray {
  background-color : #F9F9F9;
}
.bg-deco {
  background : linear-gradient(135deg,rgba(190,136,21,.8) 0%,rgba(190,137,21,.3) 100%),url(../images/pic-auxiliary.png) center;
  background-attachment : fixed;
}
.sub-text {
  margin-bottom : 25px;
  margin-left : 8px;
  padding : 10px;
  border-left : solid 1px #BE8815;
}

.modal-content {
  width : 100%;
}
.modal-dialog-centered {
  display : flex;
  align-items : center;
  min-height : calc(100% - (.5rem * 2));
  @include res(phone) {
    min-height : calc(100% - (1.75rem * 2));
  }
}

.for-pc {
  display : none;
  @include res(xlpad) {
    display : block;
  }
}
.for-mb {
  display : block;
  @include res(xlpad) {
    display : none;
  }
}

.d-inline-block {
  display: inline-block !important;
}

.w-75 {
  width: 75%;
}

.align-middle {
  vertical-align: middle;
}

.anchor-point-target:target:before {
  content : '';
  display : block;
  height : 75px;
}