// colors
$main : #DFB523;
$main-dark : #C89B3F;
$second : #493200;
$second-light : #8C6000;
$light : #F7F7F7;
$black : #000000;
$white : #FFFFFF;
$grey : #F3F3F3;
// $red: #e2455a;
$none : transparent;
// $muted: #67696e;
$main2 : #8C6000;
$font : #3D2A00;

// $main-transparent: rgba($main, 0.9);
// $second-transparent: rgba($second, 0.9);
// $white-transparent: rgba($white, 0.9);

/* brand */
$brand-line : #4ECD00;
$brand-facebook : #4267B2;
$brand-google : #EA4335;

/* opacity & gradient */
$black-op : rgba(0, 0, 0, .69);
$black-gradient : linear-gradient(to left, $none, rgba(0, 0, 0, .68), $none);


// fonts
// $font-default: 'Noto Sans', 'Noto Sans JP','Noto Sans TC', 'Arial', sans-serif;
// $font-en: 'Noto Sans','Noto Sans JP','Noto Sans TC', sans-serif;

// shadows
$shadow-button : 0 2px 4px 0 rgba(0, 0, 0, .19);
$shadow-text : 0 2px 8px rgba(0, 0, 0, .7);
$shadow-box : 0 0 8px 0 rgba(0, 0, 0, .11);
$shadow-card : 0 2px 20px 0 #E6E6E6;;

// Bootstrap Breakpoints

// borders
$border : solid 1px #C5C5C5;

@function pow($base, $exponents) {
  $raised : 1;
  @if $exponents > 0 {
    @for $i from 1 through $exponents {
      $raised : $raised * $base;
    }
  }
  @return $raised;
}

@function floorD($number, $n : 0) {
  $p : pow(10, $n);
  @return floor($number * $p) / $p;
}

@function px2rem($px) {
  @return floorD($px/16px,2)*1rem;
}

// margin & padding
@mixin m($direction, $size) {
  margin-#{$direction} : $size!important;
}
@mixin p($direction, $size) {
  padding-#{$direction} : $size!important;
}


// media queries
// $device: (xlpc:1600px, pc:1440px, nb:1200px, xlpad:992px, pad:768px, phone:576px);
$device : (nb:1280px, xlpad:992px, pad:768px, phone:576px);

@function device($name) {
  @return map-get($device, $name);
}

@mixin res($selected, $mode : to-pc) {
  @if $mode == to-pc {
    @media all and (min-width: device($selected)) {
      @content;
    }
  }
  @if $mode == to-mb {
    $size : device($selected) - 1px;
    @media all and (max-width: $size) {
      @content;
    }
  }
}


// utilities

// icon - FontAwesome: https://fontawesome.com/icons?d=gallery&m=free
@mixin fa {
  font-family : 'Font Awesome 5 Free';
  font-weight : 900;
}

@mixin square($size) {
  width : $size;
  height : $size;
}

// create customized grids container
/*
  for example:

  .grids-3{
    @include setgrids(3,12px);
  }

  在.grids-3底下的children會以3個一列，彼此間距為12px

  .grids-4{
    @include setgrids(2,12px,[[pad,3,16px],[pc,4,20px]]);
  }

  在.grids-4底下的children在pc以上的裝置會以4個一列，彼此間距為20px
                         在pad-pc的裝置會以3個一列，彼此間距為16px
                         在pad以下的裝置會以2個一列，彼此間距為12px
  
*/
@mixin setgrids($number, $gap, $res : ((device:'pc'),(res-number:'2'),(res-gap:$gap))) {
  $grid-width : 100%;
  $calcgap : false;
  @if $number > 1 {
    @if $gap > 0px {
      $calcperc : floorD(100/$number,2)*1%;
      $calcgap : $gap*($number - 1)/$number;
      $grid-width : calc(#{$calcperc} - #{$calcgap});
    } @else {
      $grid-width : 100%/$number;
    }
  }

  display : flex;
  flex-wrap : wrap;
  > * {
    flex-basis : $grid-width;
    max-width : $grid-width;
    @if ($gap != 0px) {
      margin-bottom : $gap;
    }
    @if ($calcgap) {
      &:not(:nth-child(#{$number}n+#{$number})) {
        margin-right : $gap;
      }
      &:nth-child(#{$number}n+#{$number}) {
        margin-right : 0;
      }
    }
    @if ($res) {
      @each $i in $res {
        $r-dev : nth($i,1);
        $r-num : nth($i,2);
        $r-gap : if( length($i)>2 , nth($i,3) , $gap );
        @include res($r-dev) {
          $r-calcperc : floorD(100/$r-num,2)*1%;
          $r-calcgap : $r-gap*($r-num - 1)/$r-num;
          margin-bottom : $r-gap;
          &:not(:nth-child(#{$r-num}n+#{$r-num})) {
            margin-right : $r-gap;
          }
          &:nth-child(#{$r-num}n+#{$r-num}) {
            margin-right : 0;
          }
          $r-grid-width : calc(#{$r-calcperc} - #{$r-calcgap});
          @if $r-gap == 0px {
            $r-grid-width : $r-calcperc;
          }
          flex-basis : $r-grid-width;
          max-width : $r-grid-width;
        }
      }
    }
  }
}

@mixin imgbox($ratio,$minheight : null) {
  background-size : cover;
  background-position : center;
  background-repeat : no-repeat;
  position : relative;
  &:before {
    content : '';
    display : block;
    @if ($minheight) {
      min-height : $minheight;
    }
    width : 100%;
    padding-bottom : $ratio;
  }
}

@mixin textbox($line, $lineheight : 1.5em) {
  display : block;
  display : -webkit-box;
  overflow : hidden;
  text-overflow : ellipsis;
  -webkit-box-orient : vertical;
  line-height : $lineheight;
  -webkit-line-clamp : $line;
  height : ($lineheight * $line);
}

@mixin flexbox($align) {
  display : flex;
  @if ($align == center) {
    align-items : center;
    justify-content : center;
  }
  @else if($align == x) {
    justify-content : center;
  }
  @else if($align == y) {
    align-items : center;
  }
}

@mixin oval($size,$bg) {
  width : $size;
  height : $size;
  border-radius : 50%;
  background : $bg;
  @include flexbox(center);
}

@mixin overlay($bg) {
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  background : $bg;
}

@mixin absolute($perc) {
  top : $perc;
  left : $perc;
  right : $perc;
  bottom : $perc;
}

@mixin scrollbar($width,$bg,$color,$hover) {
  $scrollbar : -webkit-scrollbar;
  ::#{$scrollbar} {
    width : $wid;
    height : $width;
  }
  ::#{$scrollbar}-track {
    background : $bg;
  }
  ::#{$scrollbar}-thumb {
    background : $color;
  }
  ::#{$scrollbar}-thumb:hover {
    background : $hover;
  }
}
