/*!
 * fullPage 3.0.4
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
    #fp-nav.fp-left{
        display: none;
        background-color: #fbdddd;
        width: 100%;
        position: absolute;
        left:auto;
        bottom: 54px;
        top: auto;

    }
    #fp-nav ul li{
        width: 35px;
        height: 35px;
        position: relative;
        border-radius: 0;
        display: inline-block;
        margin-bottom: 20px;
    }
    #fp-nav ul li:nth-child(1) a span,
    #fp-nav ul li:nth-child(2) a span,
    #fp-nav ul li:nth-child(3) a span,
    #fp-nav ul li:nth-child(4) a span{
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 35px;
        height: 35px;
        background: url(../images/nav1.png) 0 0 no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(2) a span{
        background: url(../images/nav2.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(3) a span{
        background: url(../images/nav3.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(4) a span{
        background: url(../images/nav4.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(1):hover a span,
    #fp-nav ul li:nth-child(2):hover a span,
    #fp-nav ul li:nth-child(3):hover a span,
    #fp-nav ul li:nth-child(4):hover a span{
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 35px;
        height: 35px;
        background: url(../images/nav1-active.png) 0 0 no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(2):hover a span{
        background: url(../images/nav2-active.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(3):hover a span{
        background: url(../images/nav3-active.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(4):hover a span{
        background: url(../images/nav4-active.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(1) a.active span,
    #fp-nav ul li:nth-child(1):hover a.active span,
    #fp-nav ul li:nth-child(2) a.active span,
    #fp-nav ul li:nth-child(2):hover a.active span,
    #fp-nav ul li:nth-child(3) a.active span,
    #fp-nav ul li:nth-child(3):hover a.active span,
    #fp-nav ul li:nth-child(4) a.active span,
    #fp-nav ul li:nth-child(4):hover a.active span{
        width: 35px;
        height: 35px;
        background: url(../images/nav1.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(2) a.active span,
    #fp-nav ul li:nth-child(2):hover a.active span{
        background: url(../images/nav2.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(3) a.active span,
    #fp-nav ul li:nth-child(3):hover a.active span{
        background: url(../images/nav3.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(4) a.active span,
    #fp-nav ul li:nth-child(4):hover a.active span{
        background: url(../images/nav4.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
@media (min-width: 576px) {
    #fp-nav.fp-left{
        bottom: 68px;
    }
}

@media (min-width: 768px) {
    #fp-nav.fp-left{
        display: block;
        /*background-color: #f0f;*/
        background: none;
        width: 180px;
        /*position: static;*/
        left:17px;
        bottom: auto;
        top: 50%;

    }


    #fp-nav ul li{
        width: 180px;
        height: 35px;
        position: relative;
        border-radius: 0;
        display: block;
        /*outline: 1px solid #0f0;*/
    }


    #fp-nav ul li:hover{
        /*left: 3px;
        top: 3px;*/
    }



    #fp-nav ul li:nth-child(1) a span,
    #fp-nav ul li:nth-child(2) a span,
    #fp-nav ul li:nth-child(3) a span,
    #fp-nav ul li:nth-child(4) a span{
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 180px;
        height: 35px;
        background: url(../images/nav1.png) 0 0 no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(2) a span{
        background: url(../images/nav2.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(3) a span{
        background: url(../images/nav3.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(4) a span{
        background: url(../images/nav4.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(1):hover a span,
    #fp-nav ul li:nth-child(2):hover a span,
    #fp-nav ul li:nth-child(3):hover a span,
    #fp-nav ul li:nth-child(4):hover a span{
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 180px;
        height: 35px;
        background: url(../images/nav1-active.png) 0 0 no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(2):hover a span{
        background: url(../images/nav2-active.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(3):hover a span{
        background: url(../images/nav3-active.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(4):hover a span{
        background: url(../images/nav4-active.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(1) a.active span,
    #fp-nav ul li:nth-child(1):hover a.active span,
    #fp-nav ul li:nth-child(2) a.active span,
    #fp-nav ul li:nth-child(2):hover a.active span,
    #fp-nav ul li:nth-child(3) a.active span,
    #fp-nav ul li:nth-child(3):hover a.active span,
    #fp-nav ul li:nth-child(4) a.active span,
    #fp-nav ul li:nth-child(4):hover a.active span{
        width: 180px;
        height: 35px;
        background: url(../images/nav1-link.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(2) a.active span,
    #fp-nav ul li:nth-child(2):hover a.active span{
        background: url(../images/nav2-link.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(3) a.active span,
    #fp-nav ul li:nth-child(3):hover a.active span{
        background: url(../images/nav3-link.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }
    #fp-nav ul li:nth-child(4) a.active span,
    #fp-nav ul li:nth-child(4):hover a.active span{
        background: url(../images/nav4-link.png) 0 0 no-repeat;
         -webkit-background-size: cover;
        background-size: cover;
    }


}


@media (min-width: 992px) {
    #fp-nav.fp-left{
        left: 27px;
    }
}

@media (min-width: 1280px) {
    #fp-nav.fp-left{
        left: 38px;
    }
}
@media (min-width: 1500px) {
    #fp-nav.fp-left{
        left: 45px;
    }
}

