@charset "UTF-8";
/* line 2, ../sass/assistant.scss */
.m0-a {
  margin: 0 auto;
}

/* line 6, ../sass/assistant.scss */
.mr0 {
  margin-right: 0;
}

/* line 7, ../sass/assistant.scss */
.mt5 {
  margin-top: 5px !important;
}

/* line 8, ../sass/assistant.scss */
.mt10 {
  margin-top: 10px !important;
}

/* line 9, ../sass/assistant.scss */
.mt20 {
  margin-top: 20px !important;
}

/* line 10, ../sass/assistant.scss */
.mt30 {
  margin-top: 30px !important;
}

/* line 11, ../sass/assistant.scss */
.mt40 {
  margin-top: 40px !important;
}

/* line 12, ../sass/assistant.scss */
.mt50 {
  margin-top: 50px !important;
}

/* line 13, ../sass/assistant.scss */
.mt60 {
  margin-top: 60px !important;
}

/* line 14, ../sass/assistant.scss */
.mt70 {
  margin-top: 70px !important;
}

/* line 15, ../sass/assistant.scss */
.mt80 {
  margin-top: 80px !important;
}

/* line 16, ../sass/assistant.scss */
.mt90 {
  margin-top: 90px !important;
}

/* line 17, ../sass/assistant.scss */
.mt100 {
  margin-top: 100px !important;
}

/* line 19, ../sass/assistant.scss */
.mb10 {
  margin-bottom: 10px !important;
}

/* line 20, ../sass/assistant.scss */
.mb20 {
  margin-bottom: 20px !important;
}

/* line 21, ../sass/assistant.scss */
.mb30 {
  margin-bottom: 30px !important;
}

/* line 22, ../sass/assistant.scss */
.mb40 {
  margin-bottom: 40px !important;
}

/* line 23, ../sass/assistant.scss */
.mb50 {
  margin-bottom: 50px !important;
}

/* line 24, ../sass/assistant.scss */
.mb60 {
  margin-bottom: 60px !important;
}

/* line 25, ../sass/assistant.scss */
.mb70 {
  margin-bottom: 70px !important;
}

/* line 26, ../sass/assistant.scss */
.mb80 {
  margin-bottom: 80px !important;
}

/* line 27, ../sass/assistant.scss */
.mb90 {
  margin-bottom: 90px !important;
}

/* line 28, ../sass/assistant.scss */
.mb100 {
  margin-bottom: 100px !important;
}

/* line 30, ../sass/assistant.scss */
.w10 {
  width: 10% !important;
}

/* line 31, ../sass/assistant.scss */
.w20 {
  width: 20% !important;
}

/* line 32, ../sass/assistant.scss */
.w30 {
  width: 30% !important;
}

/* line 33, ../sass/assistant.scss */
.w40 {
  width: 40% !important;
}

/* line 34, ../sass/assistant.scss */
.w50 {
  width: 50% !important;
}

/* line 35, ../sass/assistant.scss */
.w60 {
  width: 60% !important;
}

/* line 36, ../sass/assistant.scss */
.w70 {
  width: 70% !important;
}

/* line 37, ../sass/assistant.scss */
.w80 {
  width: 80% !important;
}

/* line 38, ../sass/assistant.scss */
.w90 {
  width: 90% !important;
}

/* line 39, ../sass/assistant.scss */
.w100 {
  width: 100% !important;
}

/* line 41, ../sass/assistant.scss */
.p-tb20 {
  padding: 20px 0;
}

/* line 42, ../sass/assistant.scss */
.p5 {
  padding: 5px;
}

/* line 43, ../sass/assistant.scss */
.p10 {
  padding: 10px;
}

/* line 44, ../sass/assistant.scss */
.p20 {
  padding: 20px;
}

/* line 45, ../sass/assistant.scss */
.p30 {
  padding: 30px;
}

/* line 46, ../sass/assistant.scss */
.p40 {
  padding: 40px;
}

/* line 47, ../sass/assistant.scss */
.tc {
  text-align: center;
}

/* line 49, ../sass/assistant.scss */
.pr-0 {
  padding-right: 0px;
}

/* line 50, ../sass/assistant.scss */
.pl-0 {
  padding-left: 0px;
}

/* line 51, ../sass/assistant.scss */
.mr-l-0 {
  margin-right: 0px;
  margin-left: 0px;
}

/* line 55, ../sass/assistant.scss */
.pr-pl-0 {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 59, ../sass/assistant.scss */
.cc1 {
  background-color: #bcd79d;
}

/* line 60, ../sass/assistant.scss */
.cc2 {
  background-color: #f3cc99;
}

/* line 61, ../sass/assistant.scss */
.cc3 {
  background-color: #f3f099;
}

/* line 62, ../sass/assistant.scss */
.cc4 {
  background-color: #c7d94f;
}

/* line 63, ../sass/assistant.scss */
.cc5 {
  background-color: #63d94f;
}

/* line 64, ../sass/assistant.scss */
.cc6 {
  background-color: #4fd9b4;
}

/* line 66, ../sass/assistant.scss */
.clearfix2 {
  zoom: 1;
  clear: both;
  float: none;
}
/* line 67, ../sass/assistant.scss */
.clearfix2:before {
  content: "";
  display: table;
}
/* line 71, ../sass/assistant.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 80, ../sass/assistant.scss */
.db {
  display: block;
}

/* line 76, ../sass/_style.scss */
html, body {
  font-family: "Helvetica Neue",Helvetica,"Noto Sans","微軟正黑體",Arial,sans-serif, Verdana;
  letter-spacing: 1px;
  color: #717071;
}

/* line 86, ../sass/_style.scss */
.wrap {
  width: 100%;
}
/* line 88, ../sass/_style.scss */
.wrap header {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: fixed;
  top: -16px;
  left: -13px;
  z-index: 100;
  background-color: #ffe1e0;
  padding: 10px;
}
/* line 99, ../sass/_style.scss */
.wrap header a {
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 57%;
  left: 53%;
  transform: translate(-50%, -50%);
}
/* line 108, ../sass/_style.scss */
.wrap header img {
  width: 100%;
}
/* line 112, ../sass/_style.scss */
.wrap nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 50px;
  background-color: #ffe1e0;
}
/* line 120, ../sass/_style.scss */
.wrap nav .switch {
  width: 100%;
}
/* line 122, ../sass/_style.scss */
.wrap nav .switch span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 16px;
  color: #de0a44;
  font-size: 1.5rem;
}
/* line 135, ../sass/_style.scss */
.wrap nav .menu-mobile {
  width: 100%;
  background-color: #ffe1e0;
  position: absolute;
  top: 0;
  z-index: 110;
  padding-bottom: 20px;
  display: none;
}
/* line 143, ../sass/_style.scss */
.wrap nav .menu-mobile .icon-icon07 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 16px;
  color: #de0a44;
  font-size: 1.5rem;
}
/* line 153, ../sass/_style.scss */
.wrap nav .menu-mobile .icon-icon08 {
  font-size: 4rem;
  width: 80%;
  color: #de0a44;
  display: block;
  margin: 50px auto 20px auto;
}
/* line 160, ../sass/_style.scss */
.wrap nav .menu-mobile #menu {
  list-style-type: none;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
/* line 166, ../sass/_style.scss */
.wrap nav .menu-mobile #menu li {
  margin-bottom: 10px;
}
/* line 168, ../sass/_style.scss */
.wrap nav .menu-mobile #menu li a {
  color: #000;
  text-decoration: none;
}
/* line 172, ../sass/_style.scss */
.wrap nav .menu-mobile #menu li a span.icon {
  margin-right: 20px;
  font-size: 2rem;
  color: #de0a44;
}
/* line 177, ../sass/_style.scss */
.wrap nav .menu-mobile #menu li a span.nav-txt {
  border-bottom: 1px solid #de0a44;
  padding-bottom: 8px;
  position: relative;
  bottom: 10px;
  display: inline-block;
  width: calc(100% - 70px);
}
/* line 184, ../sass/_style.scss */
.wrap nav .menu-mobile #menu li a span.nav-txt span {
  color: #de0a44;
}
/* line 194, ../sass/_style.scss */
.wrap .cover {
  display: none;
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
/* line 207, ../sass/_style.scss */
.wrap .other {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 57px;
  z-index: 110;
  border-left: 1px dotted #f00;
  padding-left: 10px;
}
/* line 216, ../sass/_style.scss */
.wrap .other #actions {
  display: inline-block;
}
/* line 218, ../sass/_style.scss */
.wrap .other #actions a {
  display: block;
  width: 36px;
  height: 35px;
  background: url(../images/nav5.png) 0 0 no-repeat;
  background-size: cover;
}
/* line 225, ../sass/_style.scss */
.wrap .other #actions a#instagram:hover {
  background: url(../images/nav5-active.png) 0 0 no-repeat;
  background-size: cover;
}
/* line 229, ../sass/_style.scss */
.wrap .other #actions a#moveSectionDown {
  display: none;
  background: url(../images/nav6.png) 0 0 no-repeat;
  background-size: cover;
}
/* line 234, ../sass/_style.scss */
.wrap .other #actions a#moveSectionDown:hover {
  background: url(../images/nav6-active.png) 0 0 no-repeat;
  background-size: cover;
}
/* line 241, ../sass/_style.scss */
.wrap .other #menu {
  display: inline-block;
}
/* line 243, ../sass/_style.scss */
.wrap .other #menu a {
  display: block;
  width: 36px;
  height: 35px;
  background: url(../images/top.png) 0 0 no-repeat;
  background-size: cover;
}
/* line 249, ../sass/_style.scss */
.wrap .other #menu a:hover {
  background: url(../images/top-active.png) 0 0 no-repeat;
  background-size: cover;
}
/* line 256, ../sass/_style.scss */
.wrap .main {
  z-index: 5;
}
/* line 259, ../sass/_style.scss */
.wrap footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 10;
  text-align: center;
  width: 100%;
  background-color: #8a1e41;
  color: #fff;
  padding: 5px 0 15px;
  font-size: 1.2rem;
}
/* line 260, ../sass/_style.scss */
.wrap footer .pc {
  display: none;
}
/* line 264, ../sass/_style.scss */
.wrap footer .mobile img {
  width: 90%;
  margin: 0 auto;
}
/* line 279, ../sass/_style.scss */
.wrap footer img {
  display: inline;
  width: 30px;
  height: auto;
  position: relative;
  top: 8px;
}
/* line 288, ../sass/_style.scss */
.wrap .section {
  display: flex;
}
/* line 292, ../sass/_style.scss */
.wrap .bubble-cover {
  background: transparent url("../images/bubble-cover.png") 0 0 repeat-x;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 50;
}
/* line 300, ../sass/_style.scss */
.wrap .bubble-cover2 {
  background: transparent url("../images/bubble-cover2.png") 0 0 repeat-x;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 50;
}
/* line 310, ../sass/_style.scss */
.wrap .s0, .wrap .s1, .wrap .s2, .wrap .s3, .wrap .s4 {
  width: 100%;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  font-size: .8rem;
  line-height: 1.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* line 324, ../sass/_style.scss */
.wrap .s0 .content, .wrap .s1 .content, .wrap .s2 .content, .wrap .s3 .content, .wrap .s4 .content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 50;
  width: 100%;
}
/* line 335, ../sass/_style.scss */
.wrap .s2.bubble, .wrap .s3.bubble {
  background: #fff url("../images/bubble1.png") left top repeat;
}
/* line 337, ../sass/_style.scss */
.wrap .s2.bubble .bubble2, .wrap .s3.bubble .bubble2 {
  width: 100%;
  height: 100%;
  background: url("../images/bubble2.png") left top repeat;
}
/* line 341, ../sass/_style.scss */
.wrap .s2.bubble .bubble2 .bubble3, .wrap .s3.bubble .bubble2 .bubble3 {
  width: 100%;
  height: 100%;
  background: url("../images/bubble3.png") left top repeat;
}
/* line 350, ../sass/_style.scss */
.wrap .s0 {
  background: none;
  background-color: #fff;
}
/* line 353, ../sass/_style.scss */
.wrap .s0 img {
  width: 100%;
}
/* line 356, ../sass/_style.scss */
.wrap .s0 .content {
  top: 50%;
}
/* line 359, ../sass/_style.scss */
.wrap .s0 .content .s0-1 {
  width: 75%;
  max-width: 300px;
  margin: 10% auto 20px;
}
/* line 364, ../sass/_style.scss */
.wrap .s0 .content .s0-2 {
  width: 70%;
  margin: 0 auto 20px;
}
/* line 368, ../sass/_style.scss */
.wrap .s0 .content .choice {
  list-style: none;
  padding: 0;
  display: block;
  text-align: center;
}
/* line 373, ../sass/_style.scss */
.wrap .s0 .content .choice li {
  display: inline-block;
}
/* line 375, ../sass/_style.scss */
.wrap .s0 .content .choice li a {
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #de0a44;
  border: 10px solid #fff;
  width: 100px;
  height: 100px;
  padding-top: 30px;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}
/* line 387, ../sass/_style.scss */
.wrap .s0 .content .choice li a:hover {
  border: 10px solid #fbdddd;
}
/* line 394, ../sass/_style.scss */
.wrap .s0 .content .choice li:nth-child(2) a {
  background-color: #a04d5f;
}
/* line 403, ../sass/_style.scss */
.wrap .s1 {
  background-color: #ffe1e0;
  background-size: cover;
  position: relative;
}
/* line 407, ../sass/_style.scss */
.wrap .s1 img {
  width: 100%;
  margin: 0 auto;
}
/* line 411, ../sass/_style.scss */
.wrap .s1 .kv-title {
  width: 64%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -218%);
  z-index: 11;
}
/* line 420, ../sass/_style.scss */
.wrap .s1 .kv-slogan {
  width: 64%;
  max-width: 300px;
  position: absolute;
  bottom: 38%;
  left: 15%;
  z-index: 11;
}
/* line 428, ../sass/_style.scss */
.wrap .s1 .kv-pdt {
  width: 86px;
  height: auto;
  position: absolute;
  bottom: 3%;
  left: 70%;
  z-index: 12;
}
/* line 435, ../sass/_style.scss */
.wrap .s1 .kv-pdt .kv-note {
  max-width: 100px;
  position: absolute;
  bottom: 44px;
  left: -100px;
  transform: translate(-90%, 0);
  z-index: 11;
}
/* line 444, ../sass/_style.scss */
.wrap .s1 .kv-pdt .kv-pdt1 {
  position: absolute;
  z-index: 14;
  width: 100%;
  bottom: 10%;
}
/* line 450, ../sass/_style.scss */
.wrap .s1 .kv-pdt .kv-pdt2 {
  position: absolute;
  z-index: 13;
  width: 87%;
  left: -56%;
  bottom: 10%;
}
/* line 457, ../sass/_style.scss */
.wrap .s1 .kv-pdt .kv-pdt3 {
  position: absolute;
  z-index: 12;
  width: 87%;
  left: -112%;
  bottom: 10%;
}
/* line 465, ../sass/_style.scss */
.wrap .s1 .kv-doll {
  width: 77%;
  max-width: 300px;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
/* line 471, ../sass/_style.scss */
.wrap .s1 .kv-doll .kv-tag {
  width: 80px;
  position: absolute;
  right: 3%;
  top: 20%;
  z-index: 999;
}
/* line 477, ../sass/_style.scss */
.wrap .s1 .kv-doll .kv-tag .tag2 {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  animation: tag-btn;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes tag-btn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
/* line 499, ../sass/_style.scss */
.wrap .s1 .kv-doll .kv-face1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
}
/* line 506, ../sass/_style.scss */
.wrap .s1 .kv-doll .kv-face2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  animation: face 2s forwards;
  animation-delay: 3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 516, ../sass/_style.scss */
.wrap .s1 .kv-doll .doll {
  position: relative;
  left: 0%;
  animation: doll 1s forwards;
  animation-delay: 1.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
@keyframes doll {
  from {
    opacity: 0;
    left: 30%;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}
@keyframes face {
  0%,32%,64%,100% {
    opacity: 1;
  }
  16%,48%,80% {
    opacity: 0;
  }
}
/* line 543, ../sass/_style.scss */
.wrap .s1 .bgmask {
  background: transparent url("../images/kv-bg.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* line 552, ../sass/_style.scss */
.wrap .s2 .content {
  top: 57%;
}
/* line 560, ../sass/_style.scss */
.wrap .s2 .block1,
.wrap .s2 .block2,
.wrap .s2 .block3 {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* line 566, ../sass/_style.scss */
.wrap .s2 .block1 img,
.wrap .s2 .block2 img,
.wrap .s2 .block3 img {
  width: 95%;
  max-width: 282px;
  margin: 0 auto;
}
/* line 573, ../sass/_style.scss */
.wrap .s2 .block1 {
  max-width: 800px;
}
/* line 576, ../sass/_style.scss */
.wrap .s2 .block2 {
  margin: 5px auto;
}
/* line 578, ../sass/_style.scss */
.wrap .s2 .block2 img {
  width: 60px;
}
/* line 586, ../sass/_style.scss */
.wrap .s2 .block4 {
  display: inline-block;
  position: absolute;
  z-index: 99;
  top: auto;
  left: auto;
  bottom: 12%;
  right: 0;
  animation: what .3s infinite;
  animation-direction: alternate;
}
@keyframes what {
  from {
    bottom: 12%;
  }
  to {
    bottom: 14%;
  }
}
/* line 617, ../sass/_style.scss */
.wrap .s2 .block4 a {
  display: block;
  text-decoration: none;
  width: 80px;
}
/* line 621, ../sass/_style.scss */
.wrap .s2 .block4 a img {
  width: 100%;
}
/* line 625, ../sass/_style.scss */
.wrap .s2 .block4 .what {
  outline: 1px solid #f00;
}
/* line 629, ../sass/_style.scss */
.wrap .s2 .what-lightbox {
  display: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #fff;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  padding: 50px 20px 20px;
  border: 5px solid #eb0045;
  text-align: center;
}
/* line 648, ../sass/_style.scss */
.wrap .s2 .what-lightbox .pc {
  display: none;
}
/* line 651, ../sass/_style.scss */
.wrap .s2 .what-lightbox .mobile {
  display: block;
}
/* line 658, ../sass/_style.scss */
.wrap .s2 .what-lightbox .icon-icon09 {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.4rem;
  color: #eb0045;
}
/* line 667, ../sass/_style.scss */
.wrap .s2 .what-lightbox .what-content img {
  width: 100%;
}
/* line 671, ../sass/_style.scss */
.wrap .s2 .what-lightbox .txts {
  margin-top: 20px;
}
/* line 674, ../sass/_style.scss */
.wrap .s2 .what-lightbox .txt {
  color: #eb0045;
  font-weight: bold;
  position: relative;
  z-index: 99;
  padding: 0 10px;
}
/* line 680, ../sass/_style.scss */
.wrap .s2 .what-lightbox .txt:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 12px;
  background-color: #ffe1e0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 697, ../sass/_style.scss */
.wrap .s3 .content {
  top: 44%;
}
/* line 701, ../sass/_style.scss */
.wrap .s3 .btn {
  list-style-type: none;
  text-align: center;
  margin: 0 auto 8px;
  padding: 0;
}
/* line 706, ../sass/_style.scss */
.wrap .s3 .btn li {
  display: inline-block;
  padding: 0;
  font-size: 2.5rem;
}
/* line 710, ../sass/_style.scss */
.wrap .s3 .btn li a {
  text-decoration: none;
}
/* line 714, ../sass/_style.scss */
.wrap .s3 .btn li.apple a {
  color: #c9caca;
}
/* line 716, ../sass/_style.scss */
.wrap .s3 .btn li.apple a.selected {
  color: #eb0045;
}
/* line 722, ../sass/_style.scss */
.wrap .s3 .btn li.peach a {
  color: #c9caca;
}
/* line 724, ../sass/_style.scss */
.wrap .s3 .btn li.peach a.selected {
  color: #fc949e;
}
/* line 730, ../sass/_style.scss */
.wrap .s3 .btn li.grape a {
  color: #c9caca;
}
/* line 732, ../sass/_style.scss */
.wrap .s3 .btn li.grape a.selected {
  color: #aac27f;
}
/* line 738, ../sass/_style.scss */
.wrap .s3 .btn li.bale a {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/pdt4_tab.png") center center no-repeat;
  background-size: cover;
  position: relative;
  top: 3px;
}
/* line 746, ../sass/_style.scss */
.wrap .s3 .btn li.bale a.selected {
  background: url("../images/pdt4_tab_hover.png") center center no-repeat;
  background-size: cover;
}
/* line 754, ../sass/_style.scss */
.wrap .s3 .btn li.straw a {
  display: block;
  width: 49px;
  height: 49px;
  background: url("../images/pdt5_tab.png") center center no-repeat;
  background-size: cover;
  position: relative;
  top: 3px;
}
/* line 762, ../sass/_style.scss */
.wrap .s3 .btn li.straw a.selected {
  background: url("../images/pdt5_tab_hover.png") center center no-repeat;
  background-size: cover;
}
/* line 771, ../sass/_style.scss */
.wrap .s3 .pdt {
  margin-top: 29%;
}
/* line 774, ../sass/_style.scss */
.wrap .s3 .pdt1, .wrap .s3 .pdt2, .wrap .s3 .pdt3, .wrap .s3 .pdt4, .wrap .s3 .pdt5 {
  text-align: center;
}
/* line 776, ../sass/_style.scss */
.wrap .s3 .pdt1 .title, .wrap .s3 .pdt2 .title, .wrap .s3 .pdt3 .title, .wrap .s3 .pdt4 .title, .wrap .s3 .pdt5 .title {
  margin: 0px auto 10px;
}
/* line 778, ../sass/_style.scss */
.wrap .s3 .pdt1 .title img, .wrap .s3 .pdt2 .title img, .wrap .s3 .pdt3 .title img, .wrap .s3 .pdt4 .title img, .wrap .s3 .pdt5 .title img {
  width: 80%;
  max-width: 350px;
  margin: 0 auto;
}
/* line 784, ../sass/_style.scss */
.wrap .s3 .pdt1 .pdt, .wrap .s3 .pdt2 .pdt, .wrap .s3 .pdt3 .pdt, .wrap .s3 .pdt4 .pdt, .wrap .s3 .pdt5 .pdt {
  position: relative;
  left: 4%;
}
/* line 787, ../sass/_style.scss */
.wrap .s3 .pdt1 .pdt img, .wrap .s3 .pdt2 .pdt img, .wrap .s3 .pdt3 .pdt img, .wrap .s3 .pdt4 .pdt img, .wrap .s3 .pdt5 .pdt img {
  width: 45%;
  max-width: 168px;
  margin: 20px auto 0;
}
/* line 796, ../sass/_style.scss */
.wrap .s3 .pdt2, .wrap .s3 .pdt3, .wrap .s3 .pdt4, .wrap .s3 .pdt5 {
  display: none;
}
/* line 800, ../sass/_style.scss */
.wrap .s3 .pdt2 .pdt {
  margin-top: -8%;
}
/* line 804, ../sass/_style.scss */
.wrap .s3 .txt1, .wrap .s3 .txt2, .wrap .s3 .txt3, .wrap .s3 .txt4, .wrap .s3 .txt5 {
  text-align: center;
}
/* line 806, ../sass/_style.scss */
.wrap .s3 .txt1 .title, .wrap .s3 .txt2 .title, .wrap .s3 .txt3 .title, .wrap .s3 .txt4 .title, .wrap .s3 .txt5 .title {
  margin: 0px auto 10px;
}
/* line 808, ../sass/_style.scss */
.wrap .s3 .txt1 .title img, .wrap .s3 .txt2 .title img, .wrap .s3 .txt3 .title img, .wrap .s3 .txt4 .title img, .wrap .s3 .txt5 .title img {
  width: 60%;
  max-width: 350px;
  margin: 0 auto;
}
/* line 815, ../sass/_style.scss */
.wrap .s3 .txt1 .txt img, .wrap .s3 .txt2 .txt img, .wrap .s3 .txt3 .txt img, .wrap .s3 .txt4 .txt img, .wrap .s3 .txt5 .txt img {
  width: 45%;
  max-width: 450px;
  margin: 20px auto 0;
}
/* line 822, ../sass/_style.scss */
.wrap .s3 .txt2, .wrap .s3 .txt3, .wrap .s3 .txt4, .wrap .s3 .txt5 {
  display: none;
}
/* line 825, ../sass/_style.scss */
.wrap .s3 .corner {
  position: absolute;
  top: 4%;
  right: 0px;
  width: 36%;
  max-width: 150px;
  height: 20%;
  z-index: 10;
}
/* line 833, ../sass/_style.scss */
.wrap .s3 .corner img {
  width: 100%;
}
/* line 836, ../sass/_style.scss */
.wrap .s3 .corner .corner1, .wrap .s3 .corner .corner2, .wrap .s3 .corner .corner3, .wrap .s3 .corner .corner4, .wrap .s3 .corner .corner5 {
  position: absolute;
  right: 0;
}
/* line 840, ../sass/_style.scss */
.wrap .s3 .corner .corner1 {
  top: -25%;
}
/* line 843, ../sass/_style.scss */
.wrap .s3 .corner .corner2, .wrap .s3 .corner .corner3, .wrap .s3 .corner .corner4, .wrap .s3 .corner .corner5 {
  top: 15%;
}
/* line 846, ../sass/_style.scss */
.wrap .s3 .corner .corner2, .wrap .s3 .corner .corner3 {
  display: none;
}
/* line 854, ../sass/_style.scss */
.wrap .s4 {
  background: none;
  background-color: #f6bebf;
}
/* line 857, ../sass/_style.scss */
.wrap .s4 ul {
  text-align: center;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
}
/* line 862, ../sass/_style.scss */
.wrap .s4 ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  width: 20%;
  margin: 1% auto -1%;
  background-color: #fff;
  position: relative;
}
/* line 870, ../sass/_style.scss */
.wrap .s4 ul li img {
  width: 100%;
  margin: 0 auto;
}
/* line 874, ../sass/_style.scss */
.wrap .s4 ul li.clear {
  display: none;
}
/* line 877, ../sass/_style.scss */
.wrap .s4 ul li:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 0px solid #ec6d74;
  border-right: 20px solid #ec6d74;
  border-bottom: 20px solid transparent;
  border-left: 0px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 891, ../sass/_style.scss */
.wrap .s4 dl {
  text-align: center;
  font-weight: bold;
  font-size: .8rem;
  line-height: 1.3rem;
}
/* line 896, ../sass/_style.scss */
.wrap .s4 dl dt {
  color: #eb0045;
  padding: 0;
  margin: 0 0 10px 0;
}
/* line 901, ../sass/_style.scss */
.wrap .s4 dl dd {
  color: #3e3a39;
  padding: 0;
  margin: 0;
}
/* line 907, ../sass/_style.scss */
.wrap .s4 .content {
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 400px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 942, ../sass/_style.scss */
  .wrap .s1 .kv-title {
    width: 85%;
    transform: translate(-50%, -180%);
  }
  /* line 951, ../sass/_style.scss */
  .wrap .s1 .kv-slogan {
    width: 70%;
    bottom: 35%;
  }
  /* line 959, ../sass/_style.scss */
  .wrap .s1 .kv-pdt {
    width: 100px;
    height: 160px;
    bottom: 0%;
  }
  /* line 967, ../sass/_style.scss */
  .wrap .s1 .kv-pdt .kv-note {
    bottom: 50%;
    left: -133px;
  }
  /* line 997, ../sass/_style.scss */
  .wrap .s1 .kv-doll {
    width: 85%;
  }
  /* line 1003, ../sass/_style.scss */
  .wrap .s1 .kv-doll .kv-tag {
    width: 100px;
  }
  /* line 1050, ../sass/_style.scss */
  .wrap .s1 .kv-doll .doll {
    position: relative;
    left: 0%;
    animation: dollx 1s forwards;
    animation-delay: 1.5s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  @keyframes dollx {
    from {
      opacity: 0;
      left: 30%;
    }
    to {
      opacity: 1;
      left: 0%;
    }
  }
  /* line 1099, ../sass/_style.scss */
  .wrap .s2 .content {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* line 1107, ../sass/_style.scss */
  .wrap .s2 .block1,
  .wrap .s2 .block2,
  .wrap .s2 .block3 {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  /* line 1113, ../sass/_style.scss */
  .wrap .s2 .block1 img,
  .wrap .s2 .block2 img,
  .wrap .s2 .block3 img {
    width: 95%;
    max-width: 282px;
    margin: 0 auto;
  }
  /* line 1120, ../sass/_style.scss */
  .wrap .s2 .block1 {
    max-width: 800px;
  }
  /* line 1123, ../sass/_style.scss */
  .wrap .s2 .block2 {
    margin: 12px auto;
  }
  /* line 1125, ../sass/_style.scss */
  .wrap .s2 .block2 img {
    width: 70px;
  }
  /* line 1151, ../sass/_style.scss */
  .wrap .s2 .block4 a {
    width: 100px;
  }
  /* line 1163, ../sass/_style.scss */
  .wrap .s2 .what-lightbox {
    display: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: #fff;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    padding: 50px 20px 20px;
    border: 5px solid #eb0045;
    text-align: center;
  }
  /* line 1182, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .pc {
    display: none;
  }
  /* line 1185, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .mobile {
    display: block;
  }
  /* line 1192, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .icon-icon09 {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.4rem;
    color: #eb0045;
  }
  /* line 1201, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .what-content img {
    width: 100%;
  }
  /* line 1205, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .txts {
    margin-top: 20px;
  }
  /* line 1208, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .txt {
    color: #eb0045;
    font-weight: bold;
    position: relative;
    z-index: 99;
    padding: 0 10px;
  }
  /* line 1214, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .txt:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 12px;
    background-color: #ffe1e0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* line 1273, ../sass/_style.scss */
  .wrap .s3 .pdt {
    margin-top: 37%;
  }
  /* line 1278, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt img, .wrap .s3 .pdt2 .pdt img, .wrap .s3 .pdt3 .pdt img, .wrap .s3 .pdt4 .pdt img, .wrap .s3 .pdt5 .pdt img {
    width: 45%;
  }
  /* line 1289, ../sass/_style.scss */
  .wrap .s3 .txt1 .title img, .wrap .s3 .txt2 .title img, .wrap .s3 .txt3 .title img, .wrap .s3 .txt4 .title img, .wrap .s3 .txt5 .title img {
    width: 80%;
  }
  /* line 1297, ../sass/_style.scss */
  .wrap .s3 .corner .corner2, .wrap .s3 .corner .corner3, .wrap .s3 .corner .corner4, .wrap .s3 .corner .corner5 {
    top: 8%;
  }
  /* line 1303, ../sass/_style.scss */
  .wrap .s4 {
    background: none;
    background-color: #f6bebf;
  }
  /* line 1306, ../sass/_style.scss */
  .wrap .s4 ul {
    text-align: center;
    padding: 0;
    max-width: 300px;
    margin: 0 auto;
  }
  /* line 1311, ../sass/_style.scss */
  .wrap .s4 ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    width: 30%;
    margin: 1% auto -1%;
    background-color: #fff;
    position: relative;
  }
  /* line 1319, ../sass/_style.scss */
  .wrap .s4 ul li img {
    width: 100%;
    margin: 0 auto;
  }
  /* line 1323, ../sass/_style.scss */
  .wrap .s4 ul li.clear {
    display: none;
  }
  /* line 1326, ../sass/_style.scss */
  .wrap .s4 ul li:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 0px solid #ec6d74;
    border-right: 20px solid #ec6d74;
    border-bottom: 20px solid transparent;
    border-left: 0px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
  /* line 1340, ../sass/_style.scss */
  .wrap .s4 dl {
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
    line-height: 1.3rem;
  }
  /* line 1345, ../sass/_style.scss */
  .wrap .s4 dl dt {
    color: #eb0045;
    padding: 0;
    margin: 0 0 10px 0;
  }
  /* line 1350, ../sass/_style.scss */
  .wrap .s4 dl dd {
    color: #3e3a39;
    padding: 0;
    margin: 0;
  }
  /* line 1358, ../sass/_style.scss */
  .wrap footer {
    font-size: 1.6rem;
  }
  /* line 1360, ../sass/_style.scss */
  .wrap footer img {
    width: 35px;
  }
}
@media (min-width: 576px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 1369, ../sass/_style.scss */
  .wrap .other {
    bottom: 72px;
  }
  /* line 1372, ../sass/_style.scss */
  .wrap footer {
    font-size: 2rem;
    letter-spacing: 5px;
  }
  /* line 1382, ../sass/_style.scss */
  .wrap footer img {
    width: 40px;
  }
  /* line 1390, ../sass/_style.scss */
  .wrap .s0, .wrap .s1, .wrap .s2, .wrap .s3, .wrap .s4 {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  /* line 1413, ../sass/_style.scss */
  .wrap .s0 .content .choice {
    font-size: .8rem;
    line-height: 1.3rem;
  }
  /* line 1463, ../sass/_style.scss */
  .wrap .s1 .kv-slogan {
    left: 5%;
  }
  /* line 1473, ../sass/_style.scss */
  .wrap .s1 .kv-pdt {
    width: 130px;
  }
  /* line 1482, ../sass/_style.scss */
  .wrap .s1 .kv-pdt .kv-note {
    left: -150px;
  }
  /* line 1505, ../sass/_style.scss */
  .wrap .s1 .kv-doll {
    width: 50%;
    left: 10%;
    max-width: 300px;
  }
  /* line 1514, ../sass/_style.scss */
  .wrap .s1 .kv-doll .kv-tag {
    right: -5%;
  }
  /* line 1540, ../sass/_style.scss */
  .wrap .s2 .content {
    top: 56%;
  }
  /* line 1544, ../sass/_style.scss */
  .wrap .s2 .block1 {
    max-width: 400px;
  }
  /* line 1547, ../sass/_style.scss */
  .wrap .s2 .block4 {
    top: 5%;
  }
  @keyframes what {
    from {
      top: 5%;
    }
    to {
      top: 2%;
    }
  }
  /* line 1563, ../sass/_style.scss */
  .wrap .s2 .what-lightbox {
    max-width: 600px;
    font-size: 1.2rem;
  }
  /* line 1580, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .pc {
    display: block;
  }
  /* line 1583, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .mobile {
    display: none;
  }
  /* line 1611, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .txt:after {
    top: 14px;
  }
  /* line 1627, ../sass/_style.scss */
  .wrap .s3 .content {
    width: 77%;
    margin: 0 auto;
  }
  /* line 1631, ../sass/_style.scss */
  .wrap .s3 .btn {
    float: left;
    width: 60%;
    margin-left: -4%;
  }
  /* line 1640, ../sass/_style.scss */
  .wrap .s3 .btn li {
    font-size: 3rem;
  }
  /* line 1672, ../sass/_style.scss */
  .wrap .s3 .btn li.bale a {
    width: 48px;
    height: 48px;
  }
  /* line 1688, ../sass/_style.scss */
  .wrap .s3 .btn li.straw a {
    width: 58px;
    height: 58px;
  }
  /* line 1708, ../sass/_style.scss */
  .wrap .s3 .pdt {
    margin-top: auto;
  }
  /* line 1717, ../sass/_style.scss */
  .wrap .s3 .pdt1 .title, .wrap .s3 .pdt2 .title, .wrap .s3 .pdt3 .title, .wrap .s3 .pdt4 .title, .wrap .s3 .pdt5 .title {
    margin: 30px auto;
    float: left;
    width: 50.5%;
  }
  /* line 1722, ../sass/_style.scss */
  .wrap .s3 .pdt1 .title img, .wrap .s3 .pdt2 .title img, .wrap .s3 .pdt3 .title img, .wrap .s3 .pdt4 .title img, .wrap .s3 .pdt5 .title img {
    width: 90%;
  }
  /* line 1728, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt, .wrap .s3 .pdt2 .pdt, .wrap .s3 .pdt3 .pdt, .wrap .s3 .pdt4 .pdt, .wrap .s3 .pdt5 .pdt {
    float: right;
    width: 47%;
    position: absolute;
    right: -3%;
    top: 23%;
    left: initial;
  }
  /* line 1736, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt img, .wrap .s3 .pdt2 .pdt img, .wrap .s3 .pdt3 .pdt img, .wrap .s3 .pdt4 .pdt img, .wrap .s3 .pdt5 .pdt img {
    width: 100%;
    max-width: 250px;
  }
  /* line 1743, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt2 .pdt, .wrap .s3 .pdt2 .pdt2 .pdt, .wrap .s3 .pdt3 .pdt2 .pdt, .wrap .s3 .pdt4 .pdt2 .pdt, .wrap .s3 .pdt5 .pdt2 .pdt {
    margin-top: -8%;
  }
  /* line 1747, ../sass/_style.scss */
  .wrap .s3 .pdt1 .txt, .wrap .s3 .pdt2 .txt, .wrap .s3 .pdt3 .txt, .wrap .s3 .pdt4 .txt, .wrap .s3 .pdt5 .txt {
    width: 50%;
    float: left;
    font-size: 1rem;
  }
  /* line 1760, ../sass/_style.scss */
  .wrap .s3 .txt1 .title, .wrap .s3 .txt2 .title, .wrap .s3 .txt3 .title, .wrap .s3 .txt4 .title, .wrap .s3 .txt5 .title {
    margin: 30px auto;
    float: left;
    width: 50.5%;
  }
  /* line 1765, ../sass/_style.scss */
  .wrap .s3 .txt1 .title img, .wrap .s3 .txt2 .title img, .wrap .s3 .txt3 .title img, .wrap .s3 .txt4 .title img, .wrap .s3 .txt5 .title img {
    width: 90%;
  }
  /* line 1772, ../sass/_style.scss */
  .wrap .s3 .txt1 .pdt img, .wrap .s3 .txt2 .pdt img, .wrap .s3 .txt3 .pdt img, .wrap .s3 .txt4 .pdt img, .wrap .s3 .txt5 .pdt img {
    width: 50%;
  }
  /* line 1778, ../sass/_style.scss */
  .wrap .s3 .txt1 .txt, .wrap .s3 .txt2 .txt, .wrap .s3 .txt3 .txt, .wrap .s3 .txt4 .txt, .wrap .s3 .txt5 .txt {
    float: right;
    width: 53%;
    right: 0;
    float: left;
    font-size: 1rem;
  }
  /* line 1786, ../sass/_style.scss */
  .wrap .s3 .txt1 .txt img, .wrap .s3 .txt2 .txt img, .wrap .s3 .txt3 .txt img, .wrap .s3 .txt4 .txt img, .wrap .s3 .txt5 .txt img {
    width: 100%;
  }
  /* line 1798, ../sass/_style.scss */
  .wrap .s3 .corner {
    top: 60px;
    width: 23%;
    max-width: 200px;
  }
  /* line 1809, ../sass/_style.scss */
  .wrap .s3 .corner .corner1, .wrap .s3 .corner .corner2, .wrap .s3 .corner .corner3 {
    top: -50%;
  }
  /* line 1814, ../sass/_style.scss */
  .wrap .s3 .corner .corner3 {
    top: -7%;
  }
  /* line 1826, ../sass/_style.scss */
  .wrap .s4 ul {
    max-width: none;
  }
  /* line 1830, ../sass/_style.scss */
  .wrap .s4 ul li {
    padding: 15px;
    width: 18%;
    margin: 2% 1% -1%;
  }
  /* line 1845, ../sass/_style.scss */
  .wrap .s4 ul li:after {
    border-right: 30px solid #ec6d74;
    border-bottom: 30px solid transparent;
  }
  /* line 1859, ../sass/_style.scss */
  .wrap .s4 dl {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  /* line 1862, ../sass/_style.scss */
  .wrap .s4 dl .br {
    display: none;
  }
  /* line 1871, ../sass/_style.scss */
  .wrap .s5 ul {
    max-width: none;
  }
  /* line 1875, ../sass/_style.scss */
  .wrap .s5 ul li {
    padding: 15px;
    width: 18%;
    margin: 2% 1% -1%;
  }
  /* line 1890, ../sass/_style.scss */
  .wrap .s5 ul li:after {
    border-right: 30px solid #ec6d74;
    border-bottom: 30px solid transparent;
  }
  /* line 1904, ../sass/_style.scss */
  .wrap .s5 dl {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  /* line 1907, ../sass/_style.scss */
  .wrap .s5 dl .br {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 1920, ../sass/_style.scss */
  .wrap header {
    width: 150px;
    height: 150px;
    left: 34px;
  }
  /* line 1930, ../sass/_style.scss */
  .wrap header a {
    width: 100px;
    height: 100px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* line 1944, ../sass/_style.scss */
  .wrap nav {
    display: none;
  }
  /* line 1947, ../sass/_style.scss */
  .wrap .bubble-cover,
  .wrap .bubble-cover2 {
    display: none;
  }
  /* line 1951, ../sass/_style.scss */
  .wrap .dark {
    display: none;
  }
  /* line 1964, ../sass/_style.scss */
  .wrap footer .pc {
    display: block;
  }
  /* line 1967, ../sass/_style.scss */
  .wrap footer .mobile {
    display: none;
  }
  /* line 1971, ../sass/_style.scss */
  .wrap .bar {
    content: '';
    width: 100%;
    height: 46px;
    background-color: #ffe1e0;
    position: fixed;
    top: 0;
    z-index: 9;
  }
  /* line 1981, ../sass/_style.scss */
  .wrap .other {
    display: block;
    position: absolute;
    top: calc(50% + 117px);
    right: auto;
    bottom: 13%;
    border: 0;
    padding: 0;
    left: 26px;
  }
  /* line 1992, ../sass/_style.scss */
  .wrap .other #actions {
    display: block;
  }
  /* line 1994, ../sass/_style.scss */
  .wrap .other #actions a {
    display: block;
    width: 180px;
    height: 35px;
  }
  /* line 2005, ../sass/_style.scss */
  .wrap .other #actions a#moveSectionDown {
    display: block;
  }
  /* line 2012, ../sass/_style.scss */
  .wrap .other #menu {
    position: absolute;
    bottom: 0;
  }
  /* line 2015, ../sass/_style.scss */
  .wrap .other #menu a {
    display: block;
    width: 180px;
    height: 35px;
  }
  /* line 2024, ../sass/_style.scss */
  .wrap .s0, .wrap .s1, .wrap .s2, .wrap .s3, .wrap .s4 {
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    color: #000;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 80%;
    height: 90%;
    background-size: cover;
  }
  /* line 2036, ../sass/_style.scss */
  .wrap .s0 .content, .wrap .s1 .content, .wrap .s2 .content, .wrap .s3 .content, .wrap .s4 .content {
    top: 50%;
  }
  /* line 2048, ../sass/_style.scss */
  .wrap .s0 .content {
    width: 90%;
    margin: 0 auto;
  }
  /* line 2053, ../sass/_style.scss */
  .wrap .s0 .content .s0-1 {
    width: 56%;
    max-width: 500px;
    display: block;
    float: left;
    margin: 0 2% 0 0%;
  }
  /* line 2062, ../sass/_style.scss */
  .wrap .s0 .content .s0-1 img {
    display: inline;
  }
  /* line 2066, ../sass/_style.scss */
  .wrap .s0 .content .right {
    width: 37%;
    max-width: 400px;
    display: block;
    float: right;
    text-align: left;
    margin-top: 10%;
  }
  /* line 2075, ../sass/_style.scss */
  .wrap .s0 .content .s0-2 {
    width: 100%;
  }
  /* line 2079, ../sass/_style.scss */
  .wrap .s0 .content .choice {
    text-align: left;
    font-size: 1rem;
  }
  /* line 2088, ../sass/_style.scss */
  .wrap .s0 .content .choice li a {
    padding-left: 22px;
  }
  /* line 2103, ../sass/_style.scss */
  .wrap .s0 .content .choice li:nth-child(2) a {
    padding-left: 27px;
  }
  /* line 2141, ../sass/_style.scss */
  .wrap .s1 .kv-pdt {
    bottom: -4%;
  }
  /* line 2150, ../sass/_style.scss */
  .wrap .s1 .kv-pdt .kv-note {
    left: -176px;
  }
  /* line 2221, ../sass/_style.scss */
  .wrap .s2 .block1 img {
    width: 74%;
  }
  /* line 2231, ../sass/_style.scss */
  .wrap .s2 .block3 {
    color: #000;
  }
  /* line 2234, ../sass/_style.scss */
  .wrap .s2 .block4 {
    top: auto;
    left: auto;
    bottom: 10%;
    right: 0;
    transform: translate(-50%, 0);
  }
  @keyframes what {
    from {
      bottom: 10%;
    }
    to {
      bottom: 12%;
    }
  }
  /* line 2251, ../sass/_style.scss */
  .wrap .s2 .what-lightbox {
    font-size: 1.5rem;
  }
  /* line 2290, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .txts {
    margin-top: 40px;
  }
  /* line 2315, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt, .wrap .s3 .pdt2 .pdt, .wrap .s3 .pdt3 .pdt, .wrap .s3 .pdt4 .pdt, .wrap .s3 .pdt5 .pdt {
    width: 53%;
    right: -9%;
  }
  /* line 2318, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt img, .wrap .s3 .pdt2 .pdt img, .wrap .s3 .pdt3 .pdt img, .wrap .s3 .pdt4 .pdt img, .wrap .s3 .pdt5 .pdt img {
    max-width: none;
  }
  /* line 2324, ../sass/_style.scss */
  .wrap .s3 .corner {
    top: 25px;
    right: 0px;
    max-width: 200px;
  }
  /* line 2342, ../sass/_style.scss */
  .wrap .s3 .corner .corner3 {
    top: -15%;
  }
  /* line 2354, ../sass/_style.scss */
  .wrap .s4 ul {
    max-width: 600px;
  }
  /* line 2358, ../sass/_style.scss */
  .wrap .s4 ul li {
    width: 18%;
    margin: 2% 1% -1%;
  }
  /* line 2387, ../sass/_style.scss */
  .wrap .s4 dl {
    line-height: 1.4rem;
  }
  /* line 2390, ../sass/_style.scss */
  .wrap .s4 dl .br {
    display: none;
  }
  /* line 2399, ../sass/_style.scss */
  .wrap .s5 ul {
    max-width: 600px;
  }
  /* line 2403, ../sass/_style.scss */
  .wrap .s5 ul li {
    width: 18%;
    margin: 2% 1% -1%;
  }
  /* line 2432, ../sass/_style.scss */
  .wrap .s5 dl {
    line-height: 1.4rem;
  }
  /* line 2435, ../sass/_style.scss */
  .wrap .s5 dl .br {
    display: none;
  }
}
@media (min-width: 992px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 2446, ../sass/_style.scss */
  .wrap header {
    width: 210px;
    height: 210px;
    left: 11px;
  }
  /* line 2456, ../sass/_style.scss */
  .wrap header a {
    width: 160px;
    height: 160px;
  }
  /* line 2469, ../sass/_style.scss */
  .wrap .other {
    left: 36px;
  }
  /* line 2473, ../sass/_style.scss */
  .wrap footer {
    font-size: 3rem;
    padding: 10px 0;
    letter-spacing: 10px;
  }
  /* line 2484, ../sass/_style.scss */
  .wrap footer img {
    width: 50px;
  }
  /* line 2492, ../sass/_style.scss */
  .wrap .s0, .wrap .s1, .wrap .s2, .wrap .s3, .wrap .s4 {
    width: 80%;
  }
  /* line 2519, ../sass/_style.scss */
  .wrap .s0 .content .right {
    margin-top: 11%;
  }
  /* line 2604, ../sass/_style.scss */
  .wrap .s1 .kv-pdt {
    bottom: -1%;
  }
  /* line 2659, ../sass/_style.scss */
  .wrap .s1 .kv-doll .doll {
    position: relative;
    left: 0%;
    animation: dollx 1s forwards;
    animation-delay: 1.5s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  @keyframes dollx {
    from {
      opacity: 0;
      left: 30%;
    }
    to {
      opacity: 1;
      left: 0%;
    }
  }
  /* line 2720, ../sass/_style.scss */
  .wrap .s2 .block1 img {
    width: 70%;
  }
  /* line 2724, ../sass/_style.scss */
  .wrap .s2 .block2 {
    margin: 30px auto;
  }
  /* line 2726, ../sass/_style.scss */
  .wrap .s2 .block2 img {
    width: 100px;
  }
  /* line 2735, ../sass/_style.scss */
  .wrap .s2 .what-lightbox {
    padding: 50px 20px 50px;
    font-size: 1.5rem;
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  /* line 2762, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .icon-icon09 {
    right: 15px;
    top: 15px;
    font-size: 2.1rem;
  }
  /* line 2771, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .what-content img {
    width: 80%;
    margin: 0 auto;
  }
  /* line 2776, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .txts {
    margin-top: 60px;
  }
  /* line 2784, ../sass/_style.scss */
  .wrap .s2 .what-lightbox .txt:after {
    top: 25px;
  }
  /* line 2800, ../sass/_style.scss */
  .wrap .s3 .content {
    width: 80%;
    margin: 0 auto;
  }
  /* line 2804, ../sass/_style.scss */
  .wrap .s3 .btn {
    float: left;
  }
  /* line 2814, ../sass/_style.scss */
  .wrap .s3 .pdt1 .title, .wrap .s3 .pdt2 .title, .wrap .s3 .pdt3 .title, .wrap .s3 .pdt4 .title, .wrap .s3 .pdt5 .title {
    margin: 30px auto;
    float: left;
    width: 50.5%;
  }
  /* line 2820, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt, .wrap .s3 .pdt2 .pdt, .wrap .s3 .pdt3 .pdt, .wrap .s3 .pdt4 .pdt, .wrap .s3 .pdt5 .pdt {
    float: right;
    width: 53%;
    position: absolute;
    top: -3%;
    right: -9%;
  }
  /* line 2827, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt img, .wrap .s3 .pdt2 .pdt img, .wrap .s3 .pdt3 .pdt img, .wrap .s3 .pdt4 .pdt img, .wrap .s3 .pdt5 .pdt img {
    width: 100%;
  }
  /* line 2831, ../sass/_style.scss */
  .wrap .s3 .pdt1 .txt, .wrap .s3 .pdt2 .txt, .wrap .s3 .pdt3 .txt, .wrap .s3 .pdt4 .txt, .wrap .s3 .pdt5 .txt {
    width: 50%;
    float: left;
    font-size: 1.1rem;
  }
  /* line 2839, ../sass/_style.scss */
  .wrap .s3 .txt1 .title, .wrap .s3 .txt2 .title, .wrap .s3 .txt3 .title, .wrap .s3 .txt4 .title, .wrap .s3 .txt5 .title {
    margin: 30px auto;
    float: left;
    width: 50.5%;
  }
  /* line 2845, ../sass/_style.scss */
  .wrap .s3 .txt1 .txt, .wrap .s3 .txt2 .txt, .wrap .s3 .txt3 .txt, .wrap .s3 .txt4 .txt, .wrap .s3 .txt5 .txt {
    float: right;
    width: 53%;
    right: 0;
    float: left;
    font-size: 1.1rem;
  }
  /* line 2853, ../sass/_style.scss */
  .wrap .s3 .txt1 .txt img, .wrap .s3 .txt2 .txt img, .wrap .s3 .txt3 .txt img, .wrap .s3 .txt4 .txt img, .wrap .s3 .txt5 .txt img {
    width: 100%;
  }
  /* line 2859, ../sass/_style.scss */
  .wrap .s3 .txt3 .txt, .wrap .s3 .txt4 .txt, .wrap .s3 .txt5 .txt {
    width: 59%;
    position: relative;
    right: 23px;
  }
  /* line 2867, ../sass/_style.scss */
  .wrap .s3 .corner {
    max-width: 300px;
  }
  /* line 2872, ../sass/_style.scss */
  .wrap .s3 .corner .corner1, .wrap .s3 .corner .corner2, .wrap .s3 .corner .corner3 {
    top: -50%;
  }
  /* line 2877, ../sass/_style.scss */
  .wrap .s3 .corner .corner3 {
    top: -14%;
  }
  /* line 2892, ../sass/_style.scss */
  .wrap .s4 ul li {
    padding: 15px;
    width: 15%;
    margin: 3% 1% 0%;
  }
  /* line 2904, ../sass/_style.scss */
  .wrap .s4 ul li.clear {
    display: block;
    background: none;
    padding: 0;
  }
  /* line 2908, ../sass/_style.scss */
  .wrap .s4 ul li.clear:after {
    border: 0;
  }
  /* line 2912, ../sass/_style.scss */
  .wrap .s4 ul li:after {
    border-right: 30px solid #ec6d74;
    border-bottom: 30px solid transparent;
  }
  /* line 2927, ../sass/_style.scss */
  .wrap .s4 dl {
    font-size: 1.1rem;
  }
  /* line 2949, ../sass/_style.scss */
  .wrap .s5 ul li {
    padding: 15px;
    width: 15%;
    margin: 3% 1% 0%;
  }
  /* line 2961, ../sass/_style.scss */
  .wrap .s5 ul li.clear {
    display: block;
    background: none;
    padding: 0;
  }
  /* line 2965, ../sass/_style.scss */
  .wrap .s5 ul li.clear:after {
    border: 0;
  }
  /* line 2969, ../sass/_style.scss */
  .wrap .s5 ul li:after {
    border-right: 30px solid #ec6d74;
    border-bottom: 30px solid transparent;
  }
  /* line 2984, ../sass/_style.scss */
  .wrap .s5 dl {
    font-size: 1.1rem;
  }
}
@media (min-width: 1280px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 3006, ../sass/_style.scss */
  .wrap .other {
    left: 47px;
  }
  /* line 3009, ../sass/_style.scss */
  .wrap .s0, .wrap .s1, .wrap .s2, .wrap .s3, .wrap .s4 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /* line 3033, ../sass/_style.scss */
  .wrap .s0 .content .s0-1 {
    margin: 0 4% 0 3%;
  }
  /* line 3046, ../sass/_style.scss */
  .wrap .s0 .content .right {
    margin-top: 9%;
  }
  /* line 3059, ../sass/_style.scss */
  .wrap .s0 .content .choice {
    font-size: 2rem;
  }
  /* line 3068, ../sass/_style.scss */
  .wrap .s0 .content .choice li a {
    width: 130px;
    height: 130px;
    padding-top: 43px;
    padding-left: 22px;
  }
  /* line 3083, ../sass/_style.scss */
  .wrap .s0 .content .choice li:nth-child(2) a {
    padding-left: 30px;
  }
  /* line 3100, ../sass/_style.scss */
  .wrap .s1 .kv-title {
    max-width: 500px;
    top: 12%;
    left: 65%;
    transform: translate(-50%, 0);
  }
  /* line 3127, ../sass/_style.scss */
  .wrap .s1 .kv-pdt {
    width: 222px;
    bottom: -5%;
    left: 70%;
  }
  /* line 3136, ../sass/_style.scss */
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 130px;
    bottom: 65%;
    left: -250px;
  }
  /* line 3159, ../sass/_style.scss */
  .wrap .s1 .kv-doll {
    max-width: 450px;
    left: 9%;
  }
  /* line 3167, ../sass/_style.scss */
  .wrap .s1 .kv-doll .kv-tag {
    width: 140px;
    right: -10%;
    top: 33%;
  }
  /* line 3197, ../sass/_style.scss */
  .wrap .s2 .block1 img,
  .wrap .s2 .block2 img,
  .wrap .s2 .block3 img {
    max-width: none;
  }
  /* line 3204, ../sass/_style.scss */
  .wrap .s2 .block1 {
    max-width: 50%;
  }
  /* line 3210, ../sass/_style.scss */
  .wrap .s2 .block4 a {
    width: 150px;
  }
  /* line 3221, ../sass/_style.scss */
  .wrap .s3 .content {
    width: 73%;
  }
  /* line 3230, ../sass/_style.scss */
  .wrap .s3 .btn li {
    font-size: 5rem;
  }
  /* line 3233, ../sass/_style.scss */
  .wrap .s3 .btn li.bale a {
    width: 80px;
    height: 80px;
    top: 5px;
  }
  /* line 3240, ../sass/_style.scss */
  .wrap .s3 .btn li.straw a {
    width: 97px;
    height: 98px;
    top: 5px;
  }
  /* line 3256, ../sass/_style.scss */
  .wrap .s3 .pdt1 .title img, .wrap .s3 .pdt2 .title img, .wrap .s3 .pdt3 .title img, .wrap .s3 .pdt4 .title img, .wrap .s3 .pdt5 .title img {
    max-width: 450px;
  }
  /* line 3268, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt img, .wrap .s3 .pdt2 .pdt img, .wrap .s3 .pdt3 .pdt img, .wrap .s3 .pdt4 .pdt img, .wrap .s3 .pdt5 .pdt img {
    max-width: 500px;
  }
  /* line 3273, ../sass/_style.scss */
  .wrap .s3 .pdt1 .txt, .wrap .s3 .pdt2 .txt, .wrap .s3 .pdt3 .txt, .wrap .s3 .pdt4 .txt, .wrap .s3 .pdt5 .txt {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /* line 3283, ../sass/_style.scss */
  .wrap .s3 .pdt2 .pdt {
    margin-top: -7%;
  }
  /* line 3296, ../sass/_style.scss */
  .wrap .s3 .txt1 .title img, .wrap .s3 .txt2 .title img, .wrap .s3 .txt3 .title img, .wrap .s3 .txt4 .title img, .wrap .s3 .txt5 .title img {
    max-width: 550px;
  }
  /* line 3312, ../sass/_style.scss */
  .wrap .s3 .txt1 .txt, .wrap .s3 .txt2 .txt, .wrap .s3 .txt3 .txt, .wrap .s3 .txt4 .txt, .wrap .s3 .txt5 .txt {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /* line 3322, ../sass/_style.scss */
  .wrap .s3 .txt3 .txt, .wrap .s3 .txt4 .txt, .wrap .s3 .txt5 .txt {
    right: 29px;
  }
  /* line 3328, ../sass/_style.scss */
  .wrap .s3 .corner {
    top: 0px;
    max-width: none;
  }
  /* line 3344, ../sass/_style.scss */
  .wrap .s3 .corner .corner3 {
    top: 0%;
  }
  /* line 3356, ../sass/_style.scss */
  .wrap .s4 ul {
    max-width: none;
  }
  /* line 3360, ../sass/_style.scss */
  .wrap .s4 ul li {
    padding: 15px;
    width: 12%;
    margin: 2% 1% 0%;
  }
  /* line 3394, ../sass/_style.scss */
  .wrap .s4 dl {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /* line 3402, ../sass/_style.scss */
  .wrap .s5 ul {
    max-width: none;
  }
  /* line 3406, ../sass/_style.scss */
  .wrap .s5 ul li {
    padding: 15px;
    width: 12%;
    margin: 2% 1% 0%;
  }
  /* line 3440, ../sass/_style.scss */
  .wrap .s5 dl {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media (min-width: 1500px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 3450, ../sass/_style.scss */
  .wrap .other {
    left: 54px;
  }
  /* line 3459, ../sass/_style.scss */
  .wrap .s0 .content {
    width: 80%;
  }
  /* line 3464, ../sass/_style.scss */
  .wrap .s0 .content .s0-1 {
    width: 57%;
    max-width: initial;
    margin: 0 3% 0 3%;
  }
  /* line 3491, ../sass/_style.scss */
  .wrap .s3 .txt3 .txt, .wrap .s3 .txt4 .txt, .wrap .s3 .txt5 .txt {
    right: 45px;
  }
}
@media (min-width: 1600px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 3503, ../sass/_style.scss */
  .wrap .s0, .wrap .s1, .wrap .s2, .wrap .s3, .wrap .s4 {
    width: 85%;
  }
  /* line 3584, ../sass/_style.scss */
  .wrap .s1 .kv-title {
    max-width: 600px;
    left: 60%;
  }
  /* line 3595, ../sass/_style.scss */
  .wrap .s1 .kv-slogan {
    left: 15%;
  }
  /* line 3605, ../sass/_style.scss */
  .wrap .s1 .kv-pdt {
    width: 272px;
    bottom: -7%;
    left: 76%;
  }
  /* line 3614, ../sass/_style.scss */
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 130px;
    bottom: 75%;
    left: -300px;
  }
  /* line 3637, ../sass/_style.scss */
  .wrap .s1 .kv-doll {
    max-width: 550px;
    left: 15%;
  }
  /* line 3645, ../sass/_style.scss */
  .wrap .s1 .kv-doll .kv-tag {
    width: 170px;
    top: 35%;
  }
  /* line 3675, ../sass/_style.scss */
  .wrap .s3 .pdt1 .pdt, .wrap .s3 .pdt2 .pdt, .wrap .s3 .pdt3 .pdt, .wrap .s3 .pdt4 .pdt, .wrap .s3 .pdt5 .pdt {
    right: -2%;
  }
}
@media (min-width: 1800px) {
  /* line 86, ../sass/_style.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 3696, ../sass/_style.scss */
  .wrap .s1 .kv-doll .kv-tag {
    width: 187px;
  }
}

@media (min-width: 576px) {
  /* line 4, ../sass/index.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 768px) {
  /* line 4, ../sass/index.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 4, ../sass/index.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 4, ../sass/index.scss */
  .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/*# sourceMappingURL=index.css.map */
