@media screen and (orientation: portrait) {
  .cover {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .cover {
    display: none;
  }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
  .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fbdddd;
  }
  .cover span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    font-size: 3rem;
  }
  .cover span img {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 375px) and (max-width: 400px) and (min-height: 694px) {
  .wrap .s1 .kv-title {
    -webkit-transform: translate(-50%, -275%);
    transform: translate(-50%, -275%);
  }
  .wrap .s1 .kv-slogan {
    width: 64%;
    max-width: 300px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    z-index: 11;
  }
  .wrap .s1 .kv-pdt {
    width: 109px;
  }
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 132px;
    left: -133px;
  }
  .wrap .s1 .kv-doll {
    width: 91%;
    max-width: none;
  }
  .wrap .s1 .kv-doll .kv-tag {
    width: 90px;
  }
  @-webkit-keyframes doll {
    from {
    }
    to {
    }
  }
  @keyframes doll {
    from {
    }
    to {
    }
  }
  @-webkit-keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
  @keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
}
@media (min-width: 411px) and (max-width: 500px) and (min-height: 731px) and (max-height: 800px) {
  .wrap .s1 .kv-title {
    -webkit-transform: translate(-50%, -207%);
    transform: translate(-50%, -207%);
  }
  .wrap .s1 .kv-slogan {
    width: 64%;
    max-width: 300px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    z-index: 11;
  }
  .wrap .s1 .kv-pdt {
    width: 109px;
  }
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 132px;
    left: -133px;
  }
  .wrap .s1 .kv-doll {
    width: 85%;
    max-width: none;
  }
  .wrap .s1 .kv-doll .kv-tag {
    width: 90px;
  }
  @-webkit-keyframes doll {
    from {
    }
    to {
    }
  }
  @keyframes doll {
    from {
    }
    to {
    }
  }
  @-webkit-keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
  @keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
}
@media (min-width: 411px) and (max-width: 500px) and (min-height: 823px) {
  .wrap .s1 .kv-title {
    -webkit-transform: translate(-50%, -227%);
    transform: translate(-50%, -227%);
  }
  .wrap .s1 .kv-slogan {
    width: 64%;
    max-width: 300px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    z-index: 11;
  }
  .wrap .s1 .kv-pdt {
    width: 109px;
  }
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 132px;
    left: -133px;
  }
  .wrap .s1 .kv-doll {
    width: 92%;
    max-width: none;
  }
  .wrap .s1 .kv-doll .kv-tag {
    width: 90px;
  }
  @-webkit-keyframes doll {
    from {
    }
    to {
    }
  }
  @keyframes doll {
    from {
    }
    to {
    }
  }
  @-webkit-keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
  @keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
}
@media (min-width: 768px) and (max-width: 1300px) and (min-height: 1024px) {
  .wrap .s1 .kv-title {
    -webkit-transform: translate(-50%, -256%);
    transform: translate(-50%, -256%);
  }
  .wrap .s1 .kv-slogan {
    width: 64%;
    max-width: 300px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    z-index: 11;
  }
  .wrap .s1 .kv-pdt {
    width: 145px;
  }
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 162px;
    left: -176px;
  }
  .wrap .s1 .kv-doll {
    width: 77%;
    max-width: none;
  }
  @-webkit-keyframes doll {
    from {
    }
    to {
    }
  }
  @keyframes doll {
    from {
    }
    to {
    }
  }
  @-webkit-keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
  @keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
}
@media (min-width: 1024px) and (max-width: 1279px) and (min-height: 700px) and (max-height: 900px) {
  .wrap .s1 .kv-title {
    left: 70%;
    -webkit-transform: translate(-50%, -177%);
    transform: translate(-50%, -177%);
  }
  .wrap .s1 .kv-slogan {
    width: 64%;
    max-width: 300px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    z-index: 11;
  }
  .wrap .s1 .kv-pdt {
    width: 170px;
    bottom: -3%;
  }
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 162px;
    left: -194px;
  }
  .wrap .s1 .kv-doll {
    width: 48%;
    max-width: none;
  }
  .wrap .s1 .kv-doll .kv-tag {
    top: 26%;
  }
  @-webkit-keyframes doll {
    from {
    }
    to {
    }
  }
  @keyframes doll {
    from {
    }
    to {
    }
  }
  @-webkit-keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
  @keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
}
@media (min-width: 1366px) and (max-width: 1400px) and (min-height: 1024px) and (max-height: 1030px) {
  .wrap .s1 .kv-title {
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-50%, -177%);
    transform: translate(-50%, -177%);
  }
  .wrap .s1 .kv-slogan {
    width: 64%;
    max-width: 300px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    z-index: 11;
  }
  .wrap .s1 .kv-pdt {
    width: 218px;
    bottom: -5%;
  }
  .wrap .s1 .kv-pdt .kv-note {
    max-width: 162px;
    left: -252px;
  }
  .wrap .s1 .kv-doll {
    width: 48%;
    max-width: none;
  }
  @-webkit-keyframes doll {
    from {
    }
    to {
    }
  }
  @keyframes doll {
    from {
    }
    to {
    }
  }
  @-webkit-keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
  @keyframes face {
    0%,
    32%,
    64%,
    100% {
    }
    16%,
    48%,
    80% {
    }
  }
}
/*# sourceMappingURL=media_query.css.map */
