﻿@font-face {
  font-family: "NotoSansTC";
  src: url("../fonts/NotoSansTC-Light.woff2") format("woff2"),
    url("../fonts/NotoSansTC-Light.woff") format("woff"),
    url("../fonts/NotoSansTC-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansTC";
  src: url("../fonts/NotoSansTC-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansTC-Regular.woff") format("woff"),
    url("../fonts/NotoSansTC-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansTC";
  src: url("../fonts/NotoSansTC-Bold.woff") format("woff"),
    url("../fonts/NotoSansTC-Bold.ttf") format("ttf"),
    url("../fonts/NotoSansTC-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #333;
  line-height: inherit;
  font-family: "Arial", "微軟正黑體", "Microsoft JhengHei", Arial, sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
* {
  -webkit-backface-visibility: hidden;
}
img {
  border: 0;
  text-decoration: none;
  vertical-align: top;
}
a {
  color: #231916;
}
a:hover {
  color: #cc9e00;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
input,
textarea,
select,
button {
  font-size: 1rem;
  font-weight: 400;
}
textarea,
input {
  -webkit-appearance: none;
  border-radius: 0;
}
input,
textarea,
select {
  box-shadow: none !important;
  border: none;
  font-size: 1rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
input,
textarea,
select,
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
}
input:not(input[type="button"]),
input:not(input[type="submit"]),
input:not(input[type="reset"]) {
  font-size: 16px !important;
}
textarea {
  resize: vertical;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p {
  line-height: inherit;
}
label {
  font-weight: inherit;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  *font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
::-webkit-input-placeholder {
  color: #888;
  font-size: 15px;
}
::-moz-placeholder {
  color: #888;
  font-size: 15px;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #888;
  font-size: 15px;
}
:-moz-placeholder {
  color: #888;
  font-size: 15px;
}
.hidden-ele {
  position: absolute;
  top: -1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0;
  height: 0;
}
.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  border-spacing: 0;
  border-collapse: initial;
}
.reset input,
.reset label,
.reset select {
  vertical-align: middle;
}
.rwd-img {
  width: 100%;
}
.max-img {
  max-width: 100%;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.out-wrap {
  position: relative;
  overflow: hidden;
  padding-top: 70px;
}
.p-1200 {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.p-ban img {
  width: 100%;
}
.p-subject {
  padding-bottom: 5px;
}
.p-subject .tw {
  font-size: 32px;
  color: #382909;
  letter-spacing: 1.3px;
}
.p-subject .tw span {
  color: #cc9e00;
}
.p-guide {
  padding: 10px 0;
}
.p-guide a {
  display: inline;
  color: #888;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
}
.p-guide span.gap {
  position: relative;
  display: inline-block;
  font-size: 16px;
  width: 24px;
  height: 24px;
  vertical-align: top;
}
.p-guide span.gap:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 5px;
  left: 11px;
  width: 1px;
  height: 15px;
  background-color: #888;
  -webkit-transform: rotate(27deg);
  -moz-transform: rotate(27deg);
  -o-transform: rotate(27deg);
  transform: rotate(27deg);
}
.p-guide strong {
  color: #333;
  font-weight: normal;
}
.button-style {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  position: relative;
  padding: 10px 60px 8px 40px;
  min-width: 70px;
  line-height: 28px;
  letter-spacing: 3.21px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.56);
}
.button-style:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -4px;
  width: 10px;
  height: 8px;
  background: url("../images/deco.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.button-style:hover {
  color: #dfb523;
  border-color: #dfb523;
}
.button-style.brown {
  border: 1px solid #dfb523;
  color: #dfb523;
}
.button-style.brown:hover {
  opacity: 0.8;
}
.button-style.brown2 {
  color: #fff;
  background-color: #493200;
  border-color: #493200;
}
.button-style.brown2:hover {
  opacity: 1;
  color: #493200;
  background-color: #fff;
}
.button-style.brown3 {
  padding: 10px;
  color: #fff;
  background-color: #dfb523;
  border-width: 2px;
  border-color: #dfb523;
}
.button-style.brown3:before {
  display: none;
}
.button-style.brown3:hover {
  opacity: 1;
  color: #dfb523;
  background-color: #fff;
}
.p-content {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 0;
}
#aside {
  display: inline-block;
  vertical-align: top;
  width: 230px;
}
#aside .search-box {
  margin-bottom: 25px;
  height: 34px;
  border-radius: 5px;
  border: solid 1px rgba(123, 105, 83, 0.4);
  background-color: rgba(216, 216, 216, 0);
}
#aside .search-box input {
  display: inline-block;
  width: calc(100% - 40px);
  padding-left: 10px;
  font-size: 15px;
  line-height: 32px;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}
#aside .search-box input::-webkit-input-placeholder {
  color: rgba(125, 98, 63, 0.5);
  font-size: 15px;
}
#aside .search-box input::-moz-placeholder {
  color: rgba(125, 98, 63, 0.5);
  font-size: 15px;
  opacity: 1;
}
#aside .search-box input:-ms-input-placeholder {
  color: rgba(125, 98, 63, 0.5);
  font-size: 15px;
}
#aside .search-box input:-moz-placeholder {
  color: rgba(125, 98, 63, 0.5);
  font-size: 15px;
}
#aside .search-box button {
  display: inline-block;
  width: 40px;
  line-height: 32px;
  text-align: center;
  color: rgba(125, 98, 63, 0.2);
  font-size: 18px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
}
#aside .search-box button:hover {
  color: #774400;
}
.menu-list {
  padding-bottom: 80px;
}
.menu-list > ul {
  border-bottom: 1px solid rgba(159, 136, 106, 0.3);
}
.menu-list ul li {
  padding: 15px 0 15px 0;
  border-top: 1px solid rgba(159, 136, 106, 0.3);
}
.menu-list ul li a {
  position: relative;
  display: block;
  color: #473926;
  padding-right: 35px;
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
}
.menu-list ul li.has_menu>a:before,
.menu-list ul li.has_menu>a:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  width: 12px;
  height: 2px;
  background-color: #5e482b;
}
.menu-list ul li.has_menu>a:after {
  right: 5px;
  margin-top: -5px;
  right: 9px;
  width: 2px;
  height: 12px;
}
.menu-list ul li.has_menu.open>a:after{
  display: none;
}
.menu-list ul li a:hover {
  text-decoration: underline;
}
.menu-list ul li ul {
  display: none;
}
.menu-list ul li li {
  display: none;
  border-top: none;
  padding: 10px 0 5px 0;
}
.menu-list ul li li a {
  font-size: 15px;
  color: #7d623f;
  line-height: 1.47;
  font-weight: normal;
}
.menu-list ul li li a.active {
  font-weight: 600;
  color: #be8914;
}
.menu-list ul li li.has_menu>a:before {
  right: 5px;
  height: 1px;
  width: 9px;
}
.menu-list ul li li.has_menu>a:after {
  width: 1px;
  height: 9px;
  margin-top: -4px;
}
.menu-list ul li li.has_menu.open>a:after {
  display: none;
}
.menu-list ul li li li {
  padding: 10px 0 0 30px;
}
.menu-list ul li.has_menu li {
  display: block;
}
.menu-list ul li.open > ul {
  display: block;
}
.p-main {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 230px);
  padding-left: 70px;
}
@media only screen and (max-width: 1280px) {
  .p-1200 {
    max-width: 900px;
  }
  .p-content {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .p-main {
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .p-subject .tw {
    font-size: 28px;
  }
  .p-content {
    padding-bottom: 10px;
  }
  .button-style {
    padding: 10px 40px 10px 20px;
  }
  #aside {
    width: 180px;
  }
  .p-main {
    width: calc(100% - 180px);
  }
  .menu-list ul li li {
    padding: 5px 0;
  }
  .menu-list ul li li ul {
    padding: 5px 0;
  }
  .menu-list ul li li li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #eee;
    border-bottom: 1px solid #fff;
  }
  .menu-list ul li li li:last-child {
    border-bottom: none;
  }
}
@media only screen and (max-width: 767px) {
  .p-content {
    padding-top: 10px;
  }
  .p-subject .tw {
    font-size: 24px;
  }
  .p-main {
    display: block;
    width: 100%;
    padding: 0;
  }
  .out-wrap {
    padding-top: 61px;
  }
  .button-style {
    padding: 10px 20px 10px 10px;
    letter-spacing: 0;
  }
  .button-style:before {
    right: 10px;
  }
  #aside {
    display: block;
    width: 100%;
  }
  #aside .search-box {
    margin-bottom: 5px;
  }
  #aside .menu-list {
    padding-bottom: 10px;
  }
  #aside .menu-list .subject {
    position: relative;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #8c6000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  #aside .menu-list .subject:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #aside .menu-list > ul {
    display: none;
  }
  #aside .menu-list.open > ul {
    display: block;
  }
}
#nav-icon {
  z-index: 102;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 16px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
#nav-icon span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #694b31;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 3;
}
#nav-icon span:nth-child(1) {
  top: 13px;
}
#nav-icon span:nth-child(2) {
  top: 19px;
}
#nav-icon span:nth-child(3) {
  top: 25px;
}
#nav-icon.open span:nth-child(1) {
  opacity: 0;
}
#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(3) {
  top: 19px;
  width: 20px;
  height: 1px;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (max-width: 1023px) {
  #nav-icon {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #nav-icon {
    right: 10px;
    top: 10px;
  }
}
.slick-slide * {
  outline: none;
}
.slick-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slick-arrow:before {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 20px;
  width: 30px;
  height: 30px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
}
.slick-arrow.slick-prev {
  left: 45px;
}
.slick-arrow.slick-prev:before {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 27px;
}
.slick-arrow.slick-next {
  right: 45px;
}
.slick-arrow.slick-next:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 27px;
}
@media only screen and (min-width: 1024px) {
  .slick-arrow:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .slick-arrow:hover:before {
    border-color: #fff;
  }
}
.group-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0;
  width: 100%;
  height: 47px;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  color: #222;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.group-select select {
  padding: 0 35px 0 15px;
  width: 100%;
  height: 47px;
  color: #333;
  font-size: 16px;
  line-height: 47px;
  background-color: transparent;
  border: none;
  outline: none;
  -o-text-overflow: "";
  text-overflow: "";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.group-select select option {
  color: #666;
  font-size: 17px;
  text-shadow: none;
}
.group-select select::-ms-expand {
  display: none;
}
.group-select:before {
  pointer-events: none;
  content: "\f0d7";
  position: absolute;
  top: 15px;
  right: 16px;
  color: #333;
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  /* font-family: "fontawesome"; */
}
.p-paginate {
  position: relative;
  padding: 50px 0 80px;
  font-size: 0;
  text-align: center;
}
.p-paginate .num {
  display: inline-block;
  vertical-align: middle;
}
.p-paginate .num a:first-child:before {
  display: none;
}
.p-paginate a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  margin: 0 3px;
  width: 36px;
  height: 36px;
  font-size: 18px;
  line-height: 35px;
  vertical-align: middle;
  color: #666;
}
.p-paginate a.current {
  color: #c89b3f;
  text-decoration: underline;
}
.p-paginate a.control {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin: 0 15px;
  font-size: 0;
  border: none;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: rgba(200, 155, 63, 0.7);
}
.p-paginate a.control:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 8px;
  height: 8px;
  top: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 0;
  bottom: auto;
  background-color: transparent;
}
.p-paginate a.control.prev:before {
  right: auto;
  left: 22px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.p-paginate a.control.next:before {
  right: 22px;
  left: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.p-paginate a.control.disable {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}
@media only screen and (max-width: 1280px) {
  .p-paginate {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .p-paginate {
    padding: 20px 0 60px;
  }
}
@media only screen and (max-width: 767px) {
  .p-paginate {
    padding: 10px 0 95px;
  }
  .p-paginate a.control {
    position: absolute;
    bottom: 37px;
    margin: 0;
  }
  .p-paginate a.control.prev {
    left: calc(50% - 55px);
  }
  .p-paginate a.control.next {
    right: calc(50% - 55px);
  }
}
@media only screen and (min-width: 1024px) {
  .p-paginate a:hover {
    color: #c89b3f;
  }
  .p-paginate a.control:hover {
    background-color: rgba(200, 155, 63, 0.85);
  }
}
img.mobile {
  display: none !important;
}
#header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(158, 151, 143, 0.14);
}
#header h1.logo {
  display: inline-block;
  margin: 0;
  padding: 16px 0 14px 25px;
  vertical-align: middle;
}

#header .logo-img {
  height: 40px;
}
/* #header h1.logo a {
  display: block;
  width: 215px;
  height: 41px;
  font-size: 0;
  background: url("../images/logo-min.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
#header .top-sub a {
  display: inline-block;
  color: #8c6000;
  position: absolute;
}
#header .top-sub a.inquiry-box {
  padding-right: 20px;
  top: 25px;
  right: 115px;
}
#header .top-sub a.inquiry-box span {
  display: inline-block;
  vertical-align: middle;
}
#header .top-sub a.inquiry-box .icon {
  width: 18px;
  height: 20px;
  font-size: 0;
  background: url("../images/form-icon-min.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header .top-sub a.inquiry-box .txt {
  margin-left: 5px;
  font-size: 16px;
  color: #8c6000;
}
#header .top-sub a.inquiry-box:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 3px;
  right: 1px;
  width: 1px;
  height: 17px;
  background-color: #bbb4aa;
}
#header .top-sub a.cart-box {
  top: 26px;
  right: 73px;
  font-size: 17px;
}
#header .top-sub a.member-box {
  top: 26px;
  right: 38px;
  font-size: 17px;
}
#header.is-scroll {
  border-bottom: 1px solid #eee;
}
#nav {
  display: inline-block;
  width: calc(100% - 240px);
  vertical-align: middle;
  text-align: right;
  padding-right: 250px;
}
#nav ul {
  display: inline-block;
}
#nav li {
  display: inline-block;
  padding: 0 30px;
  position: relative;
}
#nav li a {
  display: block;
  padding: 25px 0;
  font-size: 16px;
  color: #3d2a00;
  background-color: #fff;
}
#nav li .sub-nav {
  display: none;
  position: absolute;
  top: 71px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  background-color: #fff;
  border-top: 1px solid #eee;
}
#nav li .sub-nav ul {
  display: block;
}
#nav li.has-child > a {
  position: relative;
}
#nav li.has-child > a:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 29px;
  right: -17px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #3d2a00;
  border-right: 2px solid #3d2a00;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav li.has-child:hover .sub-nav {
  display: block;
}
#nav li.has-child:hover .sub-nav li {
  display: block;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #eee;
}
#nav li.has-child:hover .sub-nav li a {
  display: block;
  padding: 15px 10px;
  text-align: center;
}
#nav li.has-child:hover .sub-nav li a:hover {
  background-color: #f4f4f4;
}
.fixed-box {
  position: fixed;
  top: 50%;
  right: 30px;
  z-index: 23;
}
.fixed-box a {
  position: relative;
  display: block;
  margin: 10px 0;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #eae4e0;
  background-color: #fff;
  text-align: center;
  font-size: 22px;
  color: #8c6000;
  line-height: 66px;
}
.fixed-box a .num {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #5f4100;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.fixed-box a.inquiry {
  font-size: 0;
  padding-top: 16px;
}
.fixed-box a.inquiry .icon {
  display: block;
  margin: 0 auto;
  width: 27px;
  height: 30px;
  font-size: 0;
  background: url("../images/form-icon-min.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fixed-box a:hover {
  box-shadow: 0 0 10px 0 #eae4e0;
}
#footer {
  padding-bottom: 60px;
}
#footer .top-area {
  padding: 45px 0 50px;
  border-top: 1px solid rgba(190, 137, 20, 0.14);
}
#footer .top-area .logo {
  width: 140px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
#footer .top-area .info-wrap {
  margin: 0 auto;
  max-width: 600px;
  font-size: 0;
}
@media only screen and (min-width:576px) {
  #footer .top-area .info-wrap {
    display: flex;

  }
  
}
#footer .top-area .info-wrap .left-area {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
#footer .top-area .info-wrap .left-area .item {
  margin-bottom: 15px;
  height: 20px;
  line-height: 20px;
}
#footer .top-area .info-wrap .left-area .item .title {
  display: inline-block;
  width: 95px;
  font-size: 14px;
  color: #796b4e;
  vertical-align: top;
}
#footer .top-area .info-wrap .left-area .item .text {
  display: inline-block;
  width: calc(100% - 95px);
  font-size: 15px;
  color: #3d2a00;
  vertical-align: top;
}
#footer .top-area .info-wrap .left-area .item.no-title {
  margin-bottom: 0;
}
#footer .top-area .info-wrap .left-area .item.no-title .text {
  display: block;
  width: 100%;
}
#footer .top-area .info-wrap .right-area {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  padding-left: 100px;
}
#footer .top-area .info-wrap .right-area .item {
  display: block;
  font-size: 0;
  margin-bottom: 15px;
  height: 20px;
  line-height: 20px;
}
#footer .top-area .info-wrap .right-area .item .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
}
#footer .top-area .info-wrap .right-area .item .icon.fb {
  color: #465a9a;
}
#footer .top-area .info-wrap .right-area .item .icon.line {
  color: #58ae3b;
}
#footer .top-area .info-wrap .right-area .item .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #666;
  padding-left: 10px;
}
#footer .top-area .info-wrap .right-area .item:hover .title {
  color: #cc9e00;
}
#footer .menu-area {
  border-top: 1px solid rgba(190, 137, 20, 0.14);
  padding: 20px 0;
  text-align: center;
}
#footer .menu-area ul {
  display: inline-block;
}
#footer .menu-area li {
  display: inline-block;
  padding: 0 33px;
}
#footer .menu-area li a {
  font-size: 14px;
  color: #3d2a00;
}
#footer .copy-area {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #ededed;
  background-color: #664600;
}
#footer .down-area {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 33;
  font-size: 0;
  text-align: center;
  background-color: #1d1d1d;
}
#footer .down-area span {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #fafafa;
  line-height: 33px;
  letter-spacing: 3px;
}
#footer .down-area span.icon {
  width: 33px;
  height: 33px;
  margin: 0 18px;
  background: url("../images/ban-min.png");
}
#i-banner {
  line-height: 0;
}
#i-banner .item {
  position: relative;
}
#i-banner .item img {
  width: 100%;
}
#i-banner .item .cover {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 80px;
  opacity: 0;
  width: 490px;
}
#i-banner .item .title {
  margin-bottom: 30px;
  font-size: 52px;
  line-height: 130%;
  color: #fff8ea;
}
#i-banner .item .summary {
  max-height: 138px;
  overflow: hidden;
  line-height: 130%;
  font-size: 15px;
  color: #d4d0cb;
  letter-spacing: 0.67px;
  line-height: 34px;
  text-shadow: 0 2px 4px var(--black-50);
}
#i-banner .item .btn-box {
  margin-top: 40px;
}
#i-banner .item.view .cover {
  right: 180px;
  opacity: 1;
}
#i-banner .slick-arrow:before {
  border-color: rgba(255, 255, 255, 0.8);
}
#i-product {
  padding: 30px 0 80px;
}
#i-product .summary {
  color: #5e482b;
  font-size: 15px;
  line-height: 22px;
}
#i-product .product-list {
  font-size: 0;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  padding-top: 40px;
}
#i-product .product-list .item {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  width: calc(33.33% - 30px);
  border-radius: 5px;
  border: solid 1px rgba(53, 37, 0, 0.11);
  background-color: #fffefd;
}
#i-product .product-list .item .img img {
  width: 100%;
  border-radius: 5px;
}
#i-product .product-list .item .main {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  bottom: -85px;
  left: 0;
  width: 100%;
  padding: 0 30px 30px;
  background-color: #231916;
}
#i-product .product-list .item .main .title {
  position: relative;
  font-size: 20px;
  color: #fffaf3;
  text-align: center;
  padding-bottom: 25px;
}
#i-product .product-list .item .main .title:before,
#i-product .product-list .item .main .title:after {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: 15px;
  width: 45%;
  height: 1px;
  background-color: rgba(178, 174, 161, 0.3);
}
#i-product .product-list .item .main .title:before {
  left: 0;
}
#i-product .product-list .item .main .title:after {
  right: 0;
}
#i-product .product-list .item .main .title span {
  display: inline-block;
  position: relative;
}
#i-product .product-list .item .main .title span:before {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 8px;
  background: url("../images/deco.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#i-product .product-list .item .main .summary {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  height: 50px;
  overflow: hidden;
  font-size: 15px;
  color: rgba(255, 250, 243, 0.71);
  line-height: 26px;
}
#i-product .product-list .item .main .btn-box {
  padding-top: 20px;
  text-align: center;
}
#i-product .product-list .item .main:before {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  content: "";
  position: absolute;
  top: -35px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 250px 35px 250px;
  border-color: transparent transparent #231916 transparent;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#i-product .product-list .item:hover {
  box-shadow: 0 3px 16px 0 rgba(156, 142, 115, 0.62);
}
#i-product .product-list .item:hover .main {
  bottom: 0;
  background-color: rgba(35, 25, 22, 0.7);
}
#i-product .product-list .item:hover .main:before {
  border-color: transparent transparent rgba(35, 25, 22, 0.7) transparent;
}
#i-product .product-list .item:hover .summary {
  height: 104px;
  color: rgba(255, 250, 243, 0.71);
}
#i-inquiry {
  background: url("../images/bn-2-min.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#i-inquiry .main {
  padding: 50px;
  text-align: center;
}
#i-inquiry .main .p-subject .tw {
  font-size: 20px;
  letter-spacing: 3.75px;
}
#i-inquiry .main .summary {
  padding-top: 15px;
  font-size: 14px;
  color: #6b5b37;
  line-height: 28px;
  text-align: center;
}
#i-inquiry .main .btn-box {
  padding-top: 30px;
}
#i-inquiry .main .btn-box .button-style {
  color: #4d3b12;
  border: solid 1px rgba(77, 59, 18, 0.43);
}
#i-inquiry .main .btn-box .button-style:hover {
  color: #dfb523;
  border-color: #dfb523;
}
#i-section {
  padding: 60px 0;
}
#i-section .section-list {
  font-size: 0;
  position: relative;
  left: -3px;
  width: calc(100% + 6px);
}
#i-section .section-list .item {
  display: inline-block;
  width: calc(25% - 6px);
  margin: 0 3px;
  vertical-align: top;
}
#i-section .section-list .item img {
  width: 100%;
}
#i-section .section-list .item .img {
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
#i-section .section-list .item .title {
  display: block;
  font-size: 16px;
  color: #231916;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}
#i-section .section-list .item:hover .img {
  opacity: 0.9;
}
#i-section .section-list .item:hover .title {
  color: #cc9e00;
}
@media only screen and (max-width: 1280px) {
  #header .top-sub a.member-box {
    right: 20px;
  }
  #header .top-sub a.cart-box {
    right: 55px;
  }
  #header .top-sub a.inquiry-box {
    right: 95px;
  }
  #nav {
    padding-right: 210px;
  }
  #nav li {
    padding: 0 20px;
  }
  #i-banner .item .cover {
    right: 110px;
    width: 400px;
  }
  #i-banner .item .title {
    font-size: 36px;
    margin-bottom: 15px;
  }
  #i-banner .item .summary {
    height: 78px;
    line-height: 26px;
  }
  #i-banner .item .btn-box {
    margin-top: 20px;
  }
  #i-banner .item.view .cover {
    right: 120px;
  }
  #i-banner .slick-arrow.slick-next {
    right: 20px;
  }
  #i-banner .slick-arrow.slick-prev {
    left: 20px;
  }
  #i-product {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 1023px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 20;
    background-color: #fff;
  }
  #header .top-sub a.member-box {
    right: 67px;
  }
  #header .top-sub a.cart-box {
    right: 102px;
  }
  #header .top-sub a.inquiry-box {
    right: 142px;
  }
  #nav {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    z-index: 99;
    position: absolute;
    top: 71px;
    right: -260px;
    width: 260px;
    height: calc(100vh - 70px);
    padding: 0;
    text-align: center;
    display: block;
    background-color: #fff;
    box-shadow: 0 12px 16px 0 rgba(156, 142, 115, 0.62);
    border-top: 1px solid #eee;
  }
  #nav ul {
    display: block;
  }
  #nav li {
    display: block;
    padding: 0;
    border-bottom: 1px solid #ddd;
  }
  #nav li a {
    display: block;
    padding: 15px 0;
  }
  #nav li.has-child:hover .sub-nav {
    display: none;
  }
  #nav li.has-child:hover .sub-nav li {
    border-color: #dcdcdc;
  }
  #nav li.has-child a:before {
    top: 20px;
    right: 20px;
  }
  #nav li.has-child .sub-nav {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-color: #dcdcdc;
  }
  #nav li.has-child .sub-nav li {
    border-bottom: 1px solid #dcdcdc;
  }
  #nav li.has-child .sub-nav li a {
    background-color: #f4f4f4;
  }
  #nav li.has-child .sub-nav li:last-child {
    border-bottom: none;
  }
  #nav li.has-child.open .sub-nav {
    display: block;
  }
  #nav.is-open {
    right: 0;
    opacity: 1;
  }
  .fixed-box {
    top: auto;
    bottom: 70px;
    right: 15px;
  }
  #i-banner .item .cover {
    width: 320px;
  }
  #i-banner .item .title {
    font-size: 24px;
  }
  #i-banner .item .summary {
    height: 50px;
  }
  #i-banner .item.view .cover {
    right: 100px;
  }
  #i-product .product-list {
    left: -7px;
    width: calc(100% + 14px);
  }
  #i-product .product-list .item {
    margin: 0 7px;
    width: calc(33.33% - 14px);
  }
  #i-product .product-list .item .main {
    position: relative;
    bottom: auto;
    left: auto;
    padding: 0 15px 20px;
  }
  #i-product .product-list .item .main .summary {
    height: 104px;
  }
  #i-section {
    padding: 40px 0;
  }
  #footer .top-area {
    padding: 30px 0;
  }
  #footer .top-area .logo {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  #header {
    border-bottom: 1px solid #eee;
  }
  #header h1.logo {
    padding: 15px 0 15px 10px;
  }
  #header h1.logo a {
    width: 160px;
    height: 31px;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  #header .top-sub a.inquiry-box {
    display: none;
    top: 20px;
    padding: 0;
    right: 137px;
  }
  #header .top-sub a.inquiry-box:before {
    display: none;
  }
  #header .top-sub a.inquiry-box .txt {
    display: none;
  }
  #header .top-sub a.cart-box {
    display: none;
    top: 20px;
    right: 100px;
  }
  #header .top-sub a.member-box {
    top: 20px;
    right: 64px;
  }
  #nav {
    top: 61px;
  }
  #i-banner .item .cover {
    top: auto;
    bottom: 0;
    padding: 15px;
    width: 100%;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #i-banner .item .title {
    font-size: 30px;
    margin-bottom: 0;
  }
  #i-banner .item .summary {
    display: none;
  }
  #i-banner .item .btn-box {
    margin-top: 5px;
  }
  #i-banner .item .btn-box .button-style {
    padding: 7px 30px 7px 10px;
  }
  #i-banner .item.view .cover {
    right: 0;
  }
  #i-banner .slick-arrow {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
  #i-banner .slick-arrow:before {
    border-color: #dfb523;
  }
  #i-banner .slick-arrow.slick-next {
    right: 0;
  }
  #i-banner .slick-arrow.slick-prev {
    left: 0;
  }
  #i-inquiry .main {
    padding: 50px 20px;
  }
  #i-product {
    padding: 20px 0;
  }
  #i-product .product-list {
    padding-top: 20px;
    left: 0;
    width: 100%;
  }
  #i-product .product-list a {
    display: block;
  }
  #i-product .product-list .item {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    border: none;
  }
  #i-product .product-list .item .main {
    position: absolute;
    bottom: auto;
    left: 0;
    top: 50%;
    background-color: transparent;
    padding: 0 20px;
    width: 100%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  #i-product .product-list .item .main .title {
    font-size: 26px;
    text-shadow: 0 1px 4px var(--black-50);
    padding: 0;
    text-align: left;
  }
  #i-product .product-list .item .main .title:before,
  #i-product .product-list .item .main .title:after,
  #i-product .product-list .item .main .title span:before {
    display: none;
  }
  #i-product .product-list .item .main:before,
  #i-product .product-list .item .main .summary,
  #i-product .product-list .item .main .btn-box {
    display: none;
  }
  #i-product .product-list .item:hover .main {
    bottom: auto;
    background-color: transparent;
  }
  #i-section {
    padding: 20px 0;
  }
  #i-section .section-list {
    left: -5px;
    width: calc(100% + 10px);
  }
  #i-section .section-list .item {
    margin: 0 5px 15px;
    width: calc(50% - 10px);
  }
  #footer {
    padding-bottom: 68px;
  }
  #footer .top-area {
    padding: 20px 0 5px;
  }
  #footer .top-area .info-wrap .left-area {
    margin: 0 auto;
    display: block;
    width: 195px;
  }
  #footer .top-area .info-wrap .right-area {
    margin: 20px auto;
    display: block;
    width: 150px;
    padding: 0;
  }
  #footer .menu-area {
    padding: 10px 0;
    font-size: 0;
  }
  #footer .menu-area li {
    width: 50%;
    padding: 5px 10px;
  }
  #footer .down-area {
    padding: 8px 0 3px;
    background-color: rgba(29, 29, 29, 0.8);
  }
  #footer .down-area .p-1200 {
    padding-left: 10px;
    padding-right: 10px;
  }
  #footer .down-area span {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: 28px;
  }
  #footer .down-area span.xs-hide {
    display: block;
    font-size: 0;
    line-height: 0;
    height: 1px;
    overflow: hidden;
    letter-spacing: 0;
  }
}
#location .select-wrap {
  padding-bottom: 70px;
  font-size: 0;
  margin: 0 auto;
  max-width: 1100px;
}
#location .select-wrap .title {
  font-size: 18px;
  text-align: center;
  padding: 20px;
}
#location .select-wrap .group-main {
  position: relative;
  left: -5px;
  width: calc(100% + 10px);
}
#location .select-wrap .group-select {
  display: inline-block;
  width: calc(((100% - 60px) / 3) - 10px);
  margin: 0 5px;
}
#location .select-wrap .btn-search {
  display: inline-block;
  width: 47px;
  height: 47px;
  color: #333;
  font-size: 16px;
  vertical-align: middle;
  border: none;
  background-color: #eee;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10px;
}
#location .select-wrap .btn-search:hover {
  background-color: #c89b3f;
  color: #fff;
}
#location .location-list {
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
  font-size: 0;
}
#location .location-list .item {
  display: inline-block;
  width: calc(33.33% - 20px);
  margin: 0 10px 40px;
  vertical-align: top;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}
#location .location-list .item img {
  width: 100%;
}
#location .location-list .item .img {
  display: block;
  margin: 0 auto 15px;
  max-width: 240px;
}
#location .location-list .item .main {
  margin: 0 auto;
  max-width: 240px;
  text-align: center;
}
#location .location-list .item .title {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}
#location .location-list .item .add {
  font-size: 15px;
}
#location .location-list .item .links {
  margin: 15px auto 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
#location .location-list .item .links a {
  display: block;
  background-color: #ddd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#location .location-list .item .links a:hover {
  color: #fff;
  background-color: #c89b3f;
}
@media only screen and (max-width: 1280px) {
  #location .location-list {
    left: -20px;
    width: calc(100% + 40px);
  }
  #location .location-list .item {
    width: calc(33.33% - 40px);
    margin: 0 20px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  #location .location-list {
    left: 0;
    width: 100%;
  }
  #location .location-list .item {
    width: calc(33.33% - 40px);
    margin: 0 20px 40px;
  }
}
@media only screen and (max-width: 767px) {
  #location .select-wrap {
    padding-bottom: 40px;
  }
  #location .select-wrap .group-select {
    width: calc(50% - 5px);
    margin: 0 0 5px;
  }
  #location .select-wrap .group-select:first-child {
    margin-right: 5px;
  }
  #location .select-wrap .group-select.last {
    width: calc(100% - 60px);
  }
  #location .select-wrap .group-select .btn-search {
    margin-left: 5px;
  }
  #location .location-list .item {
    display: block;
    width: 100%;
    margin: 0 0 30px;
    padding-bottom: 20px;
  }
}
#article {
  padding-top: 20px;
  padding-bottom: 60px;
}
#article .p-gudie {
  padding-top: 30px;
}
#article .p-subject {
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#article .article-list {
  font-size: 0;
  direction: rtl;
}
#article .right-area {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}
#article .left-area {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  overflow: hidden;
  position: relative;
}
[data-plugins="left-slick"] {
  direction: ltr;
  margin: 0;
  max-width: 500px;
  float: right;
  padding-right: 50px;
}
[data-plugins="left-slick"] *:focus {
  outline: none;
}
[data-plugins="left-slick"] .item {
  padding: 30px 50px;
  background-color: #d0aa5d;
}
[data-plugins="left-slick"] .item .title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
[data-plugins="left-slick"] .item .summary {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
[data-plugins="right-slick"] {
  direction: ltr;
  line-height: 0;
}
[data-plugins="right-slick"] *:focus {
  outline: none;
}
[data-plugins="right-slick"] .item {
  padding-bottom: 20px;
}
[data-plugins="right-slick"] .item a,
[data-plugins="right-slick"] .item span {
  display: block;
  background-color: #fff;
  pointer-events: none;
}
[data-plugins="right-slick"] .item .img {
  width: 465px;
  height: 595px !important;
  transition: transform 0.4s;
  position: relative;
  opacity: 0.8;
  -webkit-filter: grayscale(1);
}
[data-plugins="right-slick"] .item .main {
  display: none;
}
[data-plugins="right-slick"] .slick-arrow {
  top: 50%;
  margin-top: -44px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #c89b3f;
}
[data-plugins="right-slick"] .slick-arrow:before {
  top: 20px;
  width: 10px;
  height: 10px;
  border-color: #fff;
}
[data-plugins="right-slick"] .slick-arrow.slick-prev {
  left: 20%;
}
[data-plugins="right-slick"] .slick-arrow.slick-prev:before {
  left: 20px;
}
[data-plugins="right-slick"] .slick-arrow.slick-next {
  right: 20%;
}
[data-plugins="right-slick"] .slick-arrow.slick-next:before {
  right: 22px;
}
[data-plugins="right-slick"] .slick-slide {
  width: 465px;
  min-height: 595px;
  transition: transform 0.4s;
  position: relative;
}
[data-plugins="right-slick"] .slick-slide {
  transform: scale(0.8) translate(590px);
}
[data-plugins="right-slick"] .slick-slide.slick-center + .slick-slide {
  transform: scale(0.9) translate(-350px);
  z-index: 10;
}
[data-plugins="right-slick"]
  .slick-slide.slick-center
  + .slick-slide
  + .slick-slide {
  transform: scale(0.8) translate(-590px);
  z-index: 5;
}
[data-plugins="right-slick"] .slick-slide.slick-active {
  transform: scale(0.9) translate(350px);
}
[data-plugins="right-slick"] .slick-slide.slick-center {
  transform: scale(1);
  z-index: 30;
}
[data-plugins="right-slick"] .slick-slide.slick-center a {
  pointer-events: auto;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
[data-plugins="right-slick"] .slick-slide.slick-center .img {
  -webkit-filter: grayscale(0);
  opacity: 1;
}
[data-plugins="right-slick"] .slick-center:after {
  opacity: 0;
}
@media only screen and (max-width: 1280px) {
  #article {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #article .right-area,
  #article .left-area {
    display: block;
    width: 100%;
  }
  [data-plugins="left-slick"] {
    float: left;
    max-width: 100%;
    padding: 20px 20px 0;
    margin-top: 10px;
  }
  [data-plugins="right-slick"] .slick-arrow.slick-prev {
    left: 10%;
  }
  [data-plugins="right-slick"] .slick-arrow.slick-next {
    right: 10%;
  }
}
@media only screen and (max-width: 767px) {
  #article {
    padding-top: 15px;
  }
  #article .p-guide {
    padding-top: 0;
  }
  #article .p-subject {
    font-size: 24px;
    padding-bottom: 15px;
  }
  [data-plugins="left-slick"] {
    float: none;
    margin-top: 0;
    padding-top: 0;
  }
  [data-plugins="left-slick"] .item {
    padding: 25px;
  }
  [data-plugins="left-slick"] .item .title {
    font-size: 20px;
  }
  [data-plugins="right-slick"] .item {
    padding: 20px 70px;
  }
  [data-plugins="right-slick"] .item a,
  [data-plugins="right-slick"] .item span {
    display: block;
    background-color: #fff;
    pointer-events: none;
  }
  [data-plugins="right-slick"] .item .img {
    width: 100%;
    height: auto !important;
    opacity: 1;
    -webkit-filter: grayscale(0);
  }
  [data-plugins="right-slick"] .item img {
    width: 100%;
    display: block !important;
  }
  [data-plugins="right-slick"] .item span {
    background: none !important;
  }
  [data-plugins="right-slick"] .slick-arrow {
    margin-top: -25px;
  }
  [data-plugins="right-slick"] .slick-arrow.slick-prev {
    left: 10px;
  }
  [data-plugins="right-slick"] .slick-arrow.slick-next {
    right: 10px;
  }
  [data-plugins="right-slick"] .slick-slide {
    width: 100%;
    min-height: auto;
  }
  [data-plugins="right-slick"] .slick-slide {
    transform: scale(1) translate(0px);
  }
  [data-plugins="right-slick"] .slick-slide.slick-center + .slick-slide {
    transform: scale(1) translate(0px);
  }
  [data-plugins="right-slick"]
    .slick-slide.slick-center
    + .slick-slide
    + .slick-slide {
    transform: scale(1) translate(0px);
  }
  [data-plugins="right-slick"] .slick-slide.slick-active {
    transform: scale(1) translate(0px);
  }
  [data-plugins="right-slick"] .slick-slide.slick-center {
    transform: scale(1);
  }
  [data-plugins="right-slick"] .slick-center:after {
    opacity: 0;
  }
}
#product .p-guide {
  padding-top: 30px;
}
#product .top-area {
  padding: 30px 0 50px;
  font-size: 0;
}
#product .top-area .pic-wrap {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: center;
}
#product .top-area .text-wrap {
  padding-top: 15px;
  padding-left: 30px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#product .top-area .text-wrap .top-box {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #c89b3f;
}
#product .top-area .text-wrap .top-box .type {
  padding-bottom: 8px;
  color: #f08200;
  font-size: 18px;
}
#product .top-area .text-wrap .top-box .title {
  color: #444;
  font-size: 30px;
}
#product .top-area .text-wrap .info-box {
  padding: 10px 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  font-size: 17px;
  line-height: 30px;
}
#product .top-area .text-wrap .function-box .box {
  padding: 0 0 15px;
  font-size: 0;
}
#product .top-area .text-wrap .function-box .box.qty .main {
  padding-top: 0;
}
#product .top-area .text-wrap .function-box .box .title {
  display: inline-block;
  padding-left: 10px;
  width: 120px;
  vertical-align: top;
  font-size: 16px;
  line-height: 28px;
  padding-top: 5px;
}
#product .top-area .text-wrap .function-box .box .main {
  display: inline-block;
  width: calc(100% - 120px);
  vertical-align: top;
  font-size: 16px;
  line-height: 28px;
  padding-top: 5px;
}
#product .top-area .text-wrap .function-box .box .new-price {
  display: inline-block;
  vertical-align: middle;
  color: #f04400;
  font-size: 20px;
  line-height: 28px;
  padding-right: 10px;
}
#product .top-area .text-wrap .function-box .box .old-price {
  display: inline-block;
  vertical-align: middle;
  color: #999;
  font-size: 18px;
  text-decoration: line-through;
  line-height: 28px;
}
#product .top-area .text-wrap .button-box .button-style {
  display: inline-block;
  /* width: calc(50% - 5px); */
}
#product .top-area .text-wrap .button-box .button-style:last-child {
  margin-left: 10px;
}
#product .top-area .text-wrap .button-box .button-style:hover {
  opacity: 0.8;
}
#product .middle-area {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #eee;
  line-height: 30px;
  font-size: 16px;
}
#product .middle-area .p-subject {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}
#product .middle-area .edit-wrap {
  line-height: 30px;
  font-size: 16px;
}
#product .big-pic,
#product .small-pic {
  margin: 0 auto;
  max-width: 460px;
  line-height: 0;
}
#product .big-pic img,
#product .small-pic img {
  width: 100%;
}
#product .small-pic {
  margin-top: 10px;
  padding: 0 50px;
}
#product .small-pic .item {
  padding: 5px;
}
#product .small-pic .item img {
  border: 1px solid #eee;
  cursor: pointer;
}
#product .small-pic .slick-slide:focus {
  outline: none;
}
#product .small-pic .slick-current .item img {
  border-color: #aaa;
}
#product .small-pic .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  z-index: 2;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#product .small-pic .slick-arrow:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 12px;
  width: 15px;
  height: 15px;
  border-right: 2px solid #c89b3f;
  border-top: 2px solid #c89b3f;
}
#product .small-pic .slick-arrow:hover {
  background-color: #c89b3f;
}
#product .small-pic .slick-arrow:hover:before {
  border-color: #fff;
}
#product .small-pic .slick-arrow.slick-prev {
  left: 0;
}
#product .small-pic .slick-arrow.slick-prev:before {
  left: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#product .small-pic .slick-arrow.slick-next {
  right: 0;
}
#product .small-pic .slick-arrow.slick-next:before {
  left: auto;
  right: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#product ul.nav-tabs {
  margin: 0;
  padding-top: 0;
  display: block;
  width: 100%;
  text-align: center;
}
#product ul.nav-tabs li {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0;
}
#product ul.nav-tabs li a {
  display: block;
  width: 160px;
  height: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #eee;
  text-align: center;
  line-height: 50px;
}
#product ul.nav-tabs li.active a {
  color: #fff;
  background-color: #c89b3f;
  box-shadow: 0px 0px 10px 0px rgba(6, 0, 1, 0.15);
}
#product .intro-wrap {
  margin-top: 30px;
  padding: 50px 30px 30px;
  background-color: #fbfbfb;
}
#product .intro-wrap .subject {
  margin-bottom: 0;
  padding-bottom: 15px;
  font-size: 24px;
  color: #c89b3f;
  position: relative;
  text-align: center;
}
#product .intro-wrap .subject:before {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 38px;
  height: 2px;
  margin-left: -19px;
  background-color: #c89b3f;
}
#product .intro-wrap .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
#product .intro-wrap .slick-dots li {
  display: inline-block;
  padding: 0 3px;
}
#product .intro-wrap .slick-dots li button {
  display: inline-block;
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #dbdbdb;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 0;
}
#product .intro-wrap .slick-dots li.slick-active button {
  background-color: #c89b3f;
}
#product .intro-wrap [data-plugins="intro-slick"] {
  padding: 20px 0 50px;
  margin: 0 auto;
  max-width: 1380px;
}
#product .intro-wrap [data-plugins="intro-slick"] .item {
  margin: 0 5px;
  padding: 10px;
  text-align: center;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box {
  position: relative;
  font-size: 0;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  overflow: hidden;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .img {
  position: relative;
  background-color: #fff;
  display: block;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .img img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .main {
  padding: 20px;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .main .title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .main .price {
  margin-top: 15px;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .main .price .new {
  display: inline-block;
  color: #f04400;
  vertical-align: middle;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .main .price .old {
  display: inline-block;
  color: #999;
  text-decoration: line-through;
  vertical-align: middle;
  margin-left: 5px;
}
#product .intro-wrap [data-plugins="intro-slick"] .item .box .main .more {
  padding-top: 20px;
}
#product.templete-c .button-style {
  text-align: center;
}
#product.templete-c .top-area {
  padding-bottom: 0;
}
#product.templete-c .top-area .pic-wrap {
  width: calc(100% - 480px);
  text-align: left;
}
#product.templete-c .top-area .text-wrap {
  padding-left: 0;
  width: 480px;
  padding-top: 0;
}
#product.templete-c .top-area .text-wrap .top-box {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
#product.templete-c .top-area .text-wrap .top-box .title {
  font-size: 32px;
  color: #382909;
}
#product.templete-c .top-area .text-wrap .top-box .type {
  padding-top: 5px;
  color: #9f9787;
  font-size: 15px;
  line-height: 1.47;
}
#product.templete-c .top-area .info-box {
  color: #7d623f;
  border: none;
  font-size: 15px;
  line-height: 1.47;
}
#product.templete-c .top-area .info-box .subject {
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #be8816;
  font-weight: bold;
  border-bottom: 1px solid #be8816;
}
#product.templete-c .top-area .button-box {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
}
#product.templete-c .top-area .button-box .button-style {
  width: 100%;
  padding-left: 20px;
  padding-right: 40px;
}
#product.templete-c .top-area .button-box .button-style:last-child {
  margin-left: 0;
}
#product.templete-c .top-area .share-box {
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 180px);
}
#product.templete-c .top-area .share-box .txt {
  display: none;
}
#product.templete-c .top-area .share-box ul li a.fb {
  color: #8c6000;
}
#product.templete-c .top-area .share-box ul li a.line {
  color: #8c6000;
}
#product.templete-c .middle-area {
  margin-top: 20px;
  padding: 35px;
  border-radius: 5px;
  border: solid 1px rgba(159, 136, 106, 0.2);
}
#product.templete-c .middle-area .p-subject {
  padding-top: 0;
  font-size: 32px;
  line-height: 0.88;
  letter-spacing: 1.3px;
  color: #382909;
  font-weight: normal;
  border-bottom: 1px solid rgba(178, 174, 161, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#product.templete-c .middle-area .p-subject2 {
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  color: #382909;
  font-weight: bold;
}
#product.templete-c .middle-area .p-subject2:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 8px;
  background: url("../images/deco.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#product.templete-c .middle-area .button-box {
  padding: 50px 0 0;
  text-align: center;
}
#product.templete-c .edit-wrap {
  color: #382909;
  line-height: 1.47;
  font-size: 15px;
}
#product.templete-c .edit-wrap a {
  color: #d08d00;
  text-decoration: underline;
}
#product.templete-c ul.nav-tabs {
  margin: 0 0 30px;
  padding: 0;
  font-size: 0;
}
#product.templete-c ul.nav-tabs li {
  width: 50%;
}
#product.templete-c ul.nav-tabs li a {
  display: block;
  width: 100%;
  font-size: 32px;
  line-height: 0.88;
  letter-spacing: 1.3px;
  color: rgba(56, 41, 9, 0.3);
  text-align: left;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid rgba(178, 174, 161, 0.3);
}
#product.templete-c ul.nav-tabs li.active a {
  color: #382909;
  background-color: #fff;
  box-shadow: none;
  border-bottom-color: #be8816;
}
#product.templete-c ul.nav-tabs li:nth-child(2) a {
  padding-left: 15px;
}
#product.templete-c .intro-wrap {
  padding: 50px 30px 70px;
  background-color: #fff;
  border-top: 1px solid rgba(190, 137, 20, 0.15);
}
#product.templete-c .intro-wrap .subject {
  padding-bottom: 20px;
  font-size: 32px;
  color: #382909;
}
#product.templete-c .intro-wrap .subject:before {
  display: none;
}
#product.templete-c .big-pic {
  display: inline-block;
  vertical-align: top;
  max-width: 480px;
  width: calc(100% - 110px);
  border-radius: 5px;
  border: solid 1px rgba(159, 136, 106, 0.4);
}
#product.templete-c .big-pic .slick-arrow {
  margin-top: -17px;
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
#product.templete-c .big-pic .slick-arrow:before {
  top: 12px;
  width: 10px;
  height: 10px;
  opacity: 0.36;
  border-width: 3px;
  border-color: #7c7265;
}
#product.templete-c .big-pic .slick-arrow.slick-prev {
  left: 20px;
}
#product.templete-c .big-pic .slick-arrow.slick-prev:before {
  left: 13px;
}
#product.templete-c .big-pic .slick-arrow.slick-next {
  right: 20px;
}
#product.templete-c .big-pic .slick-arrow.slick-next:before {
  right: 13px;
}
#product.templete-c .big-pic .slick-arrow:hover:before {
  opacity: 1;
}
#product.templete-c .small-pic {
  position: relative;
  top: -2px;
  line-height: 0;
  position: relative;
  display: inline-block;
  width: 90px;
  vertical-align: top;
  padding: 0;
  max-width: 90px;
  margin: 0 0 0 20px;
}
#product.templete-c .small-pic:before {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 5;
  background-color: #fff;
}
#product.templete-c .small-pic .item {
  padding: 4px 0;
  margin: 0;
}
#product.templete-c .small-pic .item img {
  border-radius: 5px;
  border: solid 1px rgba(159, 136, 106, 0.4);
  overflow: hidden;
}
#product.templete-c .small-pic .slick-active.slick-current .item img {
  border: solid 1px rgba(159, 136, 106, 0.9);
}
#product.templete-c .small-pic .slick-vertical .slick-slide {
  border: none;
}
.share-box {
  padding-top: 5px;
  text-align: left;
}
.share-box a {
  font-size: 24px;
  color: #333;
  line-height: 30px;
}
.share-box a.fb {
  color: #4267b2;
}
.share-box a.line {
  color: #00b800;
}
.share-box a:hover {
  position: relative;
  top: -1px;
}
.share-box .txt {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #c89b3f;
  font-weight: bold;
  line-height: 30px;
}
.share-box ul,
.share-box li {
  display: inline-block;
  vertical-align: middle;
}
.share-box li {
  padding: 0 0 0 8px;
}
.wan-spinner {
  width: 140px;
  font-size: 0;
  line-height: 35px;
  border: 1px solid #ccc;
  vertical-align: top;
}
.wan-spinner .minus,
.wan-spinner .plus,
.wan-spinner input {
  display: inline-block;
  margin: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  vertical-align: top;
  height: 35px;
}
.wan-spinner input {
  width: 70px !important;
  font-size: 15px;
  font-weight: normal;
}
.wan-spinner .minus {
  border-right: 1px solid #ccc;
}
.wan-spinner .plus {
  border-left: 1px solid #ccc;
}
.wan-spinner .minus,
.wan-spinner .plus {
  width: 34px;
  position: relative;
  cursor: pointer;
}
.wan-spinner .minus:before,
.wan-spinner .plus:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  margin-left: -5px;
  width: 9px;
  height: 1px;
}
.wan-spinner .minus:hover,
.wan-spinner .plus:hover {
  background-color: #ccc;
}
.wan-spinner .minus:hover:before,
.wan-spinner .plus:hover:before {
  background-color: #fff;
}
.wan-spinner .plus:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  margin: -4px 0 0 -1px;
  width: 1px;
  height: 9px;
}
.wan-spinner .plus:hover {
  background-color: #ccc;
}
.wan-spinner .plus:hover:after {
  background-color: #fff;
}
.edit-wrap img {
  max-width: 100%;
}
#product-list2 {
  /* padding-top: 35px; */
}
#product-list2 .top-ad {
  position: relative;
  font-size: 0;
  left: -10px;
  width: calc(100% + 20px);
  margin-bottom: 20px;
}
#product-list2 .top-ad img {
  width: 100%;
}
#product-list2 .top-ad .item {
  position: relative;
  vertical-align: top;
  padding: 0 10px;
}
#product-list2 .top-ad .item a {
  display: block;
}
#product-list2 .top-ad .item a:hover .title {
  opacity: 1;
}
#product-list2 .top-ad .item span {
  display: block;
}
#product-list2 .top-ad .item .title {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 10px;
  padding: 15px;
  width: calc(100% - 20px);
  color: #fff;
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  background-color: rgba(35, 25, 22, 0.7);
}
#product-list2 .top-ad .slick-arrow {
  margin-top: -17px;
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
#product-list2 .top-ad .slick-arrow:before {
  top: 12px;
  width: 10px;
  height: 10px;
  opacity: 0.36;
  border-width: 3px;
  border-color: #7c7265;
}
#product-list2 .top-ad .slick-arrow.slick-prev {
  left: -7px;
}
#product-list2 .top-ad .slick-arrow.slick-prev:before {
  left: 13px;
}
#product-list2 .top-ad .slick-arrow.slick-next {
  right: -7px;
}
#product-list2 .top-ad .slick-arrow.slick-next:before {
  right: 13px;
}
#product-list2 .top-ad .slick-arrow:hover:before {
  opacity: 1;
}
#product-list2 .p-subject {
  padding: 20px 0 25px;
  font-size: 32px;
  letter-spacing: 1.3px;
  line-height: 28px;
}
#product-list2 .product-list2 {
  padding-bottom: 30px;
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
}
#product-list2 .banner-img {
  margin-bottom: 30px;
}
#product-list2 .banner-img img {
  width: 100%;
}
[data-plugins="pbanner-slick"] {
  margin-bottom: 35px;
  position: relative;
  line-height: 0;
}
[data-plugins="pbanner-slick"] img {
  width: 100%;
}
[data-plugins="pbanner-slick"] .slick-arrow {
  margin-top: -17px;
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
[data-plugins="pbanner-slick"] .slick-arrow:before {
  top: 12px;
  width: 10px;
  height: 10px;
  opacity: 0.36;
  border-width: 3px;
  border-color: #7c7265;
}
[data-plugins="pbanner-slick"] .slick-arrow.slick-prev {
  left: -17px;
}
[data-plugins="pbanner-slick"] .slick-arrow.slick-prev:before {
  left: 13px;
}
[data-plugins="pbanner-slick"] .slick-arrow.slick-next {
  right: -17px;
}
[data-plugins="pbanner-slick"] .slick-arrow.slick-next:before {
  right: 13px;
}
[data-plugins="pbanner-slick"] .slick-arrow:hover:before {
  opacity: 1;
}
[data-plugins="pbanner-slick"] .slick-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
[data-plugins="pbanner-slick"] .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
}
[data-plugins="pbanner-slick"] .slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  box-shadow: 0 2px 4px 0 rgba(43, 23, 0, 0.39);
  background-color: rgba(255, 254, 253, 0.43);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
}
[data-plugins="pbanner-slick"] .slick-dots li.slick-active button {
  background-color: #dfb523;
}
[data-plugins="product-list2"] {
  position: relative;
  line-height: 0;
}
[data-plugins="product-list2"] img {
  width: 100%;
}
[data-plugins="product-list2"] .item {
  padding: 0 10px;
}
[data-plugins="product-list2"] .item a,
[data-plugins="product-list2"] .item span {
  display: block;
}
[data-plugins="product-list2"] .item a {
  border: 1px solid rgba(159, 136, 106, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
[data-plugins="product-list2"] .item a img {
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
[data-plugins="product-list2"] .item a .title {
  padding: 0 30px;
  font-size: 16px;
  height: 44px;
  overflow: hidden;
  font-weight: bold;
  color: #473926;
  line-height: 1.38;
}
[data-plugins="product-list2"] .item a .line {
  position: relative;
  margin: 0 30px;
  width: calc(100% - 60px);
  height: 30px;
}
[data-plugins="product-list2"] .item a .line:before,
[data-plugins="product-list2"] .item a .line:after {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: 15px;
  width: 45%;
  height: 1px;
  background-color: rgba(178, 174, 161, 0.3);
}
[data-plugins="product-list2"] .item a .line:before {
  left: 0;
}
[data-plugins="product-list2"] .item a .line:after {
  right: 0;
}
[data-plugins="product-list2"] .item a .line span {
  position: relative;
}
[data-plugins="product-list2"] .item a .line span:before {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 8px;
  background: url("../images/deco.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
[data-plugins="product-list2"] .item a .price {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
}
[data-plugins="product-list2"] .item a .price span {
  display: inline-block;
  vertical-align: middle;
}
[data-plugins="product-list2"] .item a .price .new {
  color: #f04400;
}
[data-plugins="product-list2"] .item a .price .old {
  color: #999;
  text-decoration: line-through;
  padding-right: 10px;
}
[data-plugins="product-list2"] .item a:hover {
  border-color: #7d623f;
}
[data-plugins="product-list2"] .item a:focus {
  outline: none;
}
[data-plugins="product-list2"] .slick-arrow {
  margin-top: -17px;
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
[data-plugins="product-list2"] .slick-arrow:before {
  top: 12px;
  width: 10px;
  height: 10px;
  opacity: 0.36;
  border-width: 3px;
  border-color: #7c7265;
}
[data-plugins="product-list2"] .slick-arrow.slick-prev {
  left: -7px;
}
[data-plugins="product-list2"] .slick-arrow.slick-prev:before {
  left: 13px;
}
[data-plugins="product-list2"] .slick-arrow.slick-next {
  right: -7px;
}
[data-plugins="product-list2"] .slick-arrow.slick-next:before {
  right: 13px;
}
[data-plugins="product-list2"] .slick-arrow:hover:before {
  opacity: 1;
}
[data-plugins="product-list2"] .slick-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
[data-plugins="product-list2"] .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
}
[data-plugins="product-list2"] .slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  box-shadow: 0 2px 4px 0 rgba(43, 23, 0, 0.39);
  background-color: rgba(255, 254, 253, 0.43);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
}
[data-plugins="product-list2"] .slick-dots li.slick-active button {
  background-color: #dfb523;
}
@media only screen and (max-width: 1280px) {
  #product .top-area {
    padding: 40px 0;
  }
  #product .top-area .text-wrap {
    padding-top: 5px;
  }
  #product .top-area .text-wrap .top-box {
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #product .top-area .text-wrap .top-box .title {
    font-size: 24px;
  }
  #product .top-area .text-wrap .top-box .type {
    font-size: 16px;
    padding-bottom: 3px;
  }
  #product .top-area .text-wrap .info-box {
    font-size: 16px;
    line-height: 28px;
  }
  #product .middle-area {
    padding: 20px 0;
    margin-top: 20px;
  }
  #product.templete-c .top-area {
    padding: 10px 0;
  }
  #product.templete-c .top-area .pic-wrap {
    width: 50%;
  }
  #product.templete-c .top-area .text-wrap {
    width: 50%;
    padding-left: 50px;
  }
  #product.templete-c .top-area .text-wrap .top-box .title {
    font-size: 28px;
  }
  #product.templete-c .middle-area .p-subject {
    font-size: 28px;
  }
  #product.templete-c ul.nav-tabs li a {
    font-size: 28px;
    height: auto;
    line-height: 50px;
  }
  #product.templete-c .intro-wrap .subject {
    font-size: 28px;
  }
  #product.templete-c .big-pic {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
  #product.templete-c .small-pic {
    display: block;
    margin: 0;
    max-width: inherit;
    top: auto;
    left: -5px;
    width: calc(100% + 10px);
  }
  #product.templete-c .small-pic:before {
    display: none;
  }
  #product.templete-c .small-pic .item {
    padding: 0 5px;
  }
  #product-list2 .p-subject {
    font-size: 24px;
    padding-bottom: 15px;
  }
  #product-list2 .banner-img {
    margin-bottom: 15px;
  }
  [data-plugins="pbanner-slick"] {
    margin-bottom: 15px;
  }
  [data-plugins="product-list2"] .item a .title {
    padding: 0 20px;
  }
  [data-plugins="product-list2"] .item a .line {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
@media only screen and (max-width: 1023px) {
  #product .top-area {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  #product .top-area .text-wrap .function-box .box {
    padding: 0 0 5px;
  }
  #product .top-area .text-wrap .function-box .box .title {
    padding: 5px 0 0;
  }
  #product .top-area .text-wrap .button-box {
    padding-top: 20px;
  }
  #product .intro-wrap {
    margin-top: 20px;
    padding: 30px 0 20px;
  }
  #product.templete-c .top-area .text-wrap {
    padding-left: 30px;
  }
  #product.templete-c .top-area .text-wrap .button-box {
    padding-top: 0;
  }
  #product.templete-c .intro-wrap {
    padding: 30px;
  }
  #product-list2 .top-ad {
    margin-bottom: 10px;
    left: -5px;
    width: calc(100% + 10px);
  }
  #product-list2 .top-ad .item {
    padding: 0 5px;
  }
  #product-list2 .top-ad .item .title {
    position: relative;
    bottom: auto;
    left: auto;
    opacity: 1;
    width: 100%;
  }
  [data-plugins="product-list2"] .item {
    padding: 0 5px;
  }
  .wan-spinner {
    width: 110px;
  }
  .wan-spinner input {
    width: 40px !important;
  }
}
@media only screen and (max-width: 767px) {
  img.desktop {
    display: none !important;
  }
  img.mobile {
    display: block !important;
  }
  #product .p-guide {
    padding-top: 15px;
  }
  #product .big-pic {
    max-width: 260px;
    margin: 0 auto;
  }
  #product .top-area .pic-wrap,
  #product .top-area .text-wrap {
    display: block;
    width: 100%;
    padding: 0;
  }
  #product .top-area .text-wrap {
    padding-top: 30px;
  }
  #product .middle-area {
    padding: 15px 0;
    margin-top: 15px;
  }
  #product .middle-area .p-subject {
    font-size: 20px;
    padding: 10px 0;
  }
  #product ul.nav-tabs li a {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    height: 40px;
  }
  #product .intro-wrap .p-1200 {
    padding-left: 5px;
    padding-right: 5px;
  }
  #product .intro-wrap [data-plugins="intro-slick"] .item {
    padding: 5px;
    margin: 0;
  }
  #product .intro-wrap [data-plugins="intro-slick"] .item .box .main {
    padding: 10px 10px 15px;
  }
  #product .intro-wrap [data-plugins="intro-slick"] .item .box .main .title {
    font-size: 16px;
    line-height: 22px;
  }
  #product.templete-c .top-area .pic-wrap {
    display: block;
    width: 100%;
    margin: 0 0 25px;
  }
  #product.templete-c .top-area .text-wrap {
    display: block;
    width: 100%;
    padding: 0;
  }
  #product.templete-c .top-area .text-wrap .button-box {
    padding-top: 0;
  }
  #product.templete-c .middle-area {
    padding: 20px;
  }
  #product.templete-c .middle-area .p-subject {
    font-size: 20px;
  }
  #product.templete-c .middle-area .button-box .button-style {
    width: 180px;
  }
  #product.templete-c ul.nav-tabs li a {
    font-size: 20px;
    line-height: 40px;
  }
  #product.templete-c .intro-wrap {
    padding: 30px 10px;
  }
  #product.templete-c .intro-wrap .subject {
    font-size: 20px;
  }
  #product-list2 {
    padding-top: 20px;
  }
  #product-list2 .p-subject {
    padding: 10px 0;
    font-size: 22px;
  }
  #product-list2 .product-list2 {
    padding-bottom: 20px;
    left: 0;
    width: 100%;
  }
  [data-plugins="pbanner-slick"] {
    margin-bottom: 5px;
  }
  [data-plugins="product-list2"] .item {
    padding: 0 5px;
  }
  [data-plugins="product-list2"] .item a .price {
    padding-left: 5px;
    padding-right: 5px;
    min-height: 64px;
  }
  [data-plugins="product-list2"] .item a .price .new {
    display: block;
    text-align: center;
  }
  [data-plugins="product-list2"] .item a .price .old {
    padding: 5px 0 0;
    display: block;
    text-align: center;
  }
  [data-plugins="product-list2"] .item a .price.no-old {
    line-height: 44px;
  }
}
@media only screen and (max-width: 320px) {
  #i-banner .item .title {
    font-size: 28px;
  }
  #i-product .product-list .item .main .title {
    font-size: 20px;
  }
  #product ul.nav-tabs {
    margin-bottom: 15px;
  }
  #product ul.nav-tabs li a {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    line-height: 40px;
  }
  #product.templete-c .top-area .text-wrap .top-box .title {
    font-size: 24px;
  }
  #product.templete-c .middle-area .button-box {
    padding-top: 30px;
  }
  #product.templete-c ul.nav-tabs li a {
    letter-spacing: 0;
  }
}
