@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wwafzu');
  src:  url('fonts/icomoon.eot?wwafzu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wwafzu') format('truetype'),
    url('fonts/icomoon.woff?wwafzu') format('woff'),
    url('fonts/icomoon.svg?wwafzu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
  content: "\e901";
}
.icon-arrow_right:before {
  content: "\e902";
}
.icon-cancel3:before {
  content: "\e903";
}
.icon-menu2:before {
  content: "\e904";
}
.icon-tri_arrow_left:before {
  content: "\e905";
}
.icon-tri_arrow_right:before {
  content: "\e906";
}
.icon-icon01:before {
  content: "\e907";
}
.icon-icon02:before {
  content: "\e908";
}
.icon-icon03:before {
  content: "\e909";
}
.icon-icon04:before {
  content: "\e90a";
}
.icon-icon05:before {
  content: "\e90b";
}
.icon-icon06:before {
  content: "\e90c";
}
.icon-icon07:before {
  content: "\e90d";
}
.icon-icon08:before {
  content: "\e90e";
}
.icon-icon09:before {
  content: "\e90f";
}
.icon-icon10:before {
  content: "\e910";
}
.icon-btn1:before {
  content: "\e911";
}
.icon-btn2:before {
  content: "\e912";
}
.icon-btn3:before {
  content: "\e900";
}
