.page-account {
  @media screen and (max-width: 576px) {
    .mb-text-small {
      font-size : 14px;
    }
  }
  .p-subject {
    font-size : 24px;
    font-weight : bold;
    padding : 20px 0 0;

    &.sm {
      &, h1, h2, h3, h4, h5, h6 {
        font-size : 18px;
      }
    }
  }

  select.form-control {
    background-repeat : no-repeat;
    background-position : center right;
    background-image : url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
  }

  .title-line {
    border-bottom : 2px solid $main-dark;
  }
  table > tfoot.tfoot-borderless > tr > td, table > tfoot.tfoot-borderless > tr > th {
    border : transparent;
  }

  .thead-active {
    color : #8C6000;
  }

  .form-box {
    max-width : 800px;
    margin : auto;
    background : $light;
    border-radius : 6px;
    padding : 30px 20px 30px;
    position : relative;
    .pagetitle {
      h1 {
        font-size : 2em;
        margin-bottom : 0;
      }
    }
    select, input, textarea {
      border : 0;
    }
    select {
      height : 34px;
    }
    label.checkbox input + span:before {
      background : $white;
    }
    &.sm {
      max-width : 480px;
    }
  }
  .social_login {
    .btn {
      min-width : auto;
      width : 100%;
    }
  }

  .account-sidebar {
    .list-group a.list-group-item {
      background : $white;
      color : $main;

      &:hover {
        background : $main;
        color : $white;
      }
    }
  }
  .member-func {
    .card {
      text-align : center;
      border : 0;
      margin-bottom : 30px;
      i {
        @include oval(80px, $main-dark);
        margin : 0 auto .25em;
        font-size : 36px;
        color : $white;
        box-shadow : $shadow-button;
        @include res(xlpad) {
          @include square(90px);
          font-size : 48px;
        }
      }
      h4 {
        font-size : 1.125em;
        @include res(xlpad) {
          font-size : 1.25em;
        }
      }
      a:hover {
        i {
          color : $main-dark;
          background : $white;
        }
      }
    }
  }
  .addr-list {
    ul li {
      padding : .5rem 0;
      &:not(:last-child) {
        border-bottom : 1px solid #CCCCCC;
      }
    }

    .addr-list-item {
      display : inline-block;
      width : calc(100% - 90px);
    }
  }

  .register-edit-area {
    padding : .5rem 1rem;
    border : 1px solid #E5E5E5;
    border-radius : 8px;

    p {
      margin-bottom : 20px;
    }

    ul {
      padding-left : 1em;
    }

    li {
      list-style-type : none;
      margin-bottom : 20px;
      padding-bottom : 20px;
      border-bottom : 1px dashed #E5E5E5;
    }

    li:last-child {
      border-bottom-color : transparent;
    }

    li::before {
      content : '\f14a';
      display : inline-block;
      font-family : 'Font Awesome 5 Free';
      font-weight : 900;
      margin-top : .1em;
      margin-right : .5em;
      color : #BE8915;
      margin-left : -1em;
    }
  }
  // .addbook{
  //   background: $light;
  //   border-left: 5px solid $main;
  //   border-radius: 6px;
  //   padding: 10px;
  //   @include res(xlpad){
  //     padding: 20px;
  //   }
  //   h5{
  //     margin: 0.25em 0;
  //     font-size: 16px;
  //     @include textbox(2,1.5em);
  //   }
  //   .price{
  //     s{
  //       @include res(pad,to-mb){
  //         display: none;
  //       }
  //     }
  //   }
  // }
  .links {
    text-align : right;
    .btn {
      min-width : auto;
      border-radius : 0;
      padding : 0 15px;
      &:hover {
        opacity : .75;
      }
    }
    .btn-main {
      background : transparent;
      color : $main;
      border : 0;
    }
    .btn-link {
      color : $black;
    }
  }
  .list-order {
    .btn-main {
      min-width : auto;
      font-size : 13px;
      padding : 4px 8px;
      margin-left : 12px;
      white-space : nowrap;
    }
    .badge {
      background : $grey;
      color : $white;
      font-weight : normal;
    }
    li {
      margin-bottom : .5em;
      padding : 5px 10px;
      background : transparentize($main,.95);
      display : flex;
      align-items : flex-start;
      justify-content : space-between;
    }
  }
}

.btn-address {
  padding : 7px 9px;
}
