.page-cart {
  .p-subject {
    font-size : 20px;
    font-weight : 500;
    padding : 20px 0 0;
    color : $second;
  }

  // 進度條
  .stepper-container {
    display : flex;
    justify-content : center;

    .stepper-arrow {
      @include flexbox(center);
      margin : 0 1rem;
      padding : 0 .5rem;
      color : #C7C7D0;
    }

    .stepper {
      display : flex;

      .icon-wrap {
        @include square(3.5rem);
        @include flexbox(center);
        margin-right : 1.5rem;
        padding : .75rem;
        border-radius : 12px;
        background : #F3F6F9;
        font-size : 1.25rem;
      }

      .label-wrap {
        display : flex;
        flex-direction : column;

        > .title {
          font-size : 1rem;
          font-weight : 500;
          margin-bottom : .25rem;
        }

        > .desc {
          font-size : .9rem;
          color : #9E9EAA;
        }
      }

      &.active {
        .icon-wrap {
          background : $main;
          color : #FFFFFF;
          box-shadow : 5px 5px 8px 0 #F3F3ED;
        }
      }
    }

    @include res(pad, to-mb) {
      .stepper .icon-wrap {
        margin-right : 1rem;
      }
      .stepper-arrow {
        margin : 0 .5rem;
      }
    }

    @include res(phone, to-mb) {
      display : none;
    }
  }

  hr {
    margin-top : 10px;
    margin-bottom : 20px;
  }
  // 購物車: START
  table.product-table {
    td {
      vertical-align : middle;
      text-align : center;
    }

    .mobile-th {
      display : none;
    }
    .product-img img {
      max-width : 80px;
    }

    .cart-del-btn, a.cart-del-btn {
      transition : all .5s;
      &:hover, &:focus {
        color : $main-dark;
      }
    }

    & > tfoot > tr > td, & > 　tfoot > tr > th {
      border : transparent;
    }

    & > tfoot.tfoot-borderless > tr > td, & > tfoot.tfoot-borderless > tr > th {
      border : transparent;
    }

    @include res (pad, to-mb) {
      font-size : .95rem;
    }

    @include res (phone, to-mb) {
      thead {
        display : none;
      }
      .mobile-th {
        display : block;
      }

      & {
        border : none;
      }
      thead tr, tbody tr {
        display : flex;
        flex-direction : column;
        border : 1px solid #CCCCCC;
      }

      tfoot tr {
        display : flex;
        flex-direction : row;
        justify-content : space-between;
      }

      tbody tr {
        margin-bottom : 1rem;
      }


      tbody td {
        display : flex;
        justify-content : space-between;
        align-items : center;
        border-top : 0;
      }

      td.cart-total-empty-td {
        width : 30px;
      }
      .cart-total-th {
        min-width : 6rem;
      }
      .cart-total-td {
        min-width : 9rem;
        text-align : right;
      }

      td.product-img {
        justify-content : start;
      }
    }
  }

  .btn-coupon {
    height : 34px;
    padding : 5px 15px;
  }

  .input-coupon {
    display: inline-block;
    width: 10rem;
    margin-left: 0.75rem;
    margin-right: 1rem;
  }


  .input-number {
    width : 110px;
    font-size : 0;
    line-height : 30px;
    border : 1px solid #CCCCCC;
    vertical-align : top;
    margin : 0 auto;
  }
  .input-number .minus, .input-number .plus, .input-number input {
    display : inline-block;
    margin : 0;
    padding : 5px;
    width : 30px;
    height : 30px;
    text-align : center;
    border : none;
    vertical-align : top;
    height : 30px;
  }
  .input-number input {
    width : 40px !important;
    font-size : 15px;
    font-weight : normal;
  }
  .input-number .minus {
    border-right : 1px solid #CCCCCC;
  }
  .input-number .plus {
    border-left : 1px solid #CCCCCC;
  }
  .input-number .minus, .input-number .plus {
    width : 34px;
    position : relative;
    cursor : pointer;
  }
  .input-number .minus:before, .input-number .plus:before {
    pointer-events : none;
    content : '';
    position : absolute;
    top : 50%;
    left : 50%;
    background-color : #333333;
    margin-left : -5px;
    width : 9px;
    height : 1px;
  }
  .input-number .minus:hover, .input-number .plus:hover {
    background-color : #CCCCCC;
  }
  .input-number .minus:hover:before, .input-number .plus:hover:before {
    background-color : #FFFFFF;
  }
  .input-number .plus:after {
    pointer-events : none;
    content : '';
    position : absolute;
    top : 50%;
    left : 50%;
    background-color : #333333;
    margin : -4px 0 0 -1px;
    width : 1px;
    height : 9px;
  }
  .input-number .plus:hover {
    background-color : #CCCCCC;
  }
  .input-number .plus:hover:after {
    background-color : #FFFFFF;
  }


  @include res (phone, to-mb) {
    .input-number {
      margin : 0;
    }
  }
  // 購物車: END
}
