.page-category {
  .news-card-list {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    .news-card {
      width : calc( 50% - 4px );
      position : relative;
      border-radius : 5px;
      overflow : hidden;
      margin-bottom : 16px;
      padding : 12px 10px;
      border : 1px solid $grey;
      color : #585347;
      box-shadow : 2px 2px 10px rgba(0,0,0,.05);
      transition : all .4s ease-in-out;
      .image-box {
        width : 100%;
        overflow : hidden;
        .image {
          width : 100%;
          background-position : center;
          background-size : cover;
          padding : 30%;
          transition : all .4s ease-in-out;
        }
      }
      h1 {
        font-size : 18px;
        font-weight : 600;
        color : $font;
      }
      span {
        display : block;
      }
      i {
        color : $second;
      }
      &:hover {
        box-shadow : 2px 2px 10px rgba(0,0,0,.15);
        .image {
          transform : scale(1.1);
        }
      }
    }

    @include res(pad) {
      .news-card {
        width : calc( 33% - 12px );
        padding : 15px 12px;
        h1 {
          font-size : 20px;
        }
      }
    }
  }
}

.ad-section {
  display : flex;
  justify-content : space-between;
  flex-wrap : wrap;
  .ad-box {
    width : 100%;
    overflow : hidden;
    margin-bottom : 10px;
    .bg {
      width : 100%;
      background-position : center;
      background-size : cover;
      padding-bottom : 53%;
    }
  }
  @include res(phone) {
    .ad-box {
      width : calc( 50% - 6px );
    }
  }
}
