.page-info {
  .sec-block {
    padding : 20px 0;
    @include res(pad) {
      padding : 35px 0;
    }
  }
  h3 {
    font-size : 18px;
    font-weight : bold;
    color : #BE8815;
  }
}

.table1 {
  // border : 1px solid rgba(159,136,106,.4);
  margin-left : -10px;
  th, td {
    padding : 8px 10px;
    // border : 1px solid rgba(159,136,106,.4);
  }
}

.location-info {
  color : white;
  a {
    color : white;
  }
  .single-info {
    display : flex;
    flex-wrap : wrap;
    flex-direction : column;
    margin : 10px 0;
    span {
      min-width : 50px;
    }
    a {
      flex : 1;
    }
  }
  @include res(phone) {
    .single-info {
      flex-direction : row;
    }
  }
}

.article-date {
  color : #7D7873;
  font-size : 15px;
}
