.page-magazine {
  .magazine-card-list {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    > a {
      width : calc( 100% - 8px );
    }
    .magazine-card {
      position : relative;
      border-radius : 5px;
      overflow : hidden;
      margin-bottom : 16px;
      box-shadow : 2px 2px 10px rgba(80, 36, 0,.08);
      transition : all .4s ease-in-out;
      .bg {
        background-position : center;
        background-repeat : no-repeat;
        background-size : cover;
        padding-bottom : 60%;
        width : 100%;
        transition : all .4s ease-in-out;
      }
      .text-box {
        padding : 3px 15px 10px;
        color : $font;
        transform : translate(0, calc(4.5em + 10px));
        position : absolute;
        bottom : 0;
        background-color : white;
        width : 100%;
        box-shadow : 0 -2px 8px rgba(0,0,0,.1);
        transition : all .4s ease-in-out;
        h1 {
          @include textbox(1,2em);
          font-size : 18px;
          margin : 0;
          font-weight : bold;
        }
        p {
          @include textbox(3,1.5em);
          margin : 0;
        }
      }
      &:hover {
        box-shadow : 2px 2px 10px rgba(80, 36, 0,.15);
        .bg {
          transform : scale(1.05);
        }
        .text-box {
          transform : translate(0,0);
        }
      }
    }

    @include res(phone) {
      > a {
        width : calc( 50% - 8px );
      }
    }
    @include res(xlpad) {
      > a {
        width : calc( 33% - 12px );
      }
      .magazine-card {
        margin-bottom : 32px;
      }
    }
  }
}
