.page-recruit {
  .block {
    text-align : center;
    display : inline-block;
    width : 47.5%;
    margin : 0 1% 30px;
    border : solid 1px #BE8815;
    .privacy_title {
      margin : 1.8em 0 10px;
      padding : 10px 15px;
      background-color : #BE8915;
      color : #FFFFFF;
    }
    @include res(phone,to-mb) {
      display : block;
      width : 100%;
      margin-left : 0;
      margin-right : 0;
    }
  }
}
