.page-shopping {
  .product-card-list, .product-list2 ul {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;

    //餐飲用產品 購物商城 商品卡片
    & > a {
      width : calc( 50% - 4px );
    }
    .product-card {
      position : relative;
      border-radius : 5px;
      overflow : hidden;
      margin-bottom : 16px;
      box-shadow : 2px 2px 10px rgba(80, 36, 0, .2);
      transition : all .4s ease-in-out;
      .bg {
        background-position : center;
        background-repeat : no-repeat;
        background-size : cover;
        padding-bottom : 100%;
        width : 100%;
        transition : all .4s ease-in-out;
      }
      .text-box {
        position : absolute;
        bottom : 0;
        text-align : center;
        width : 100%;
        background-color : #231916B3;
        color : white;
        h1 {
          font-size : 18px;
          text-shadow : 2px 2px 5px rgba(0,0,0,.6);
          margin : 15px 0 10px;
          @include textbox(1);
        }
      }
      &:hover {
        box-shadow : 2px 2px 10px rgba(80, 36, 0,.5);
        .bg {
          transform : scale(1.05);
        }
      }
    }

    //category2 商品卡片
    .item {
      text-align : center;
      width : calc( 50% - 6px );
      padding : 0;
      margin-bottom : 16px;
      .box {
        position : relative;
        font-size : 0;
        background-color : #FFFFFF;
        box-shadow : 5px 5px 10px 0px rgba(0, 0, 0, .03);
        border-radius : 5px;
        overflow : hidden;
        .img {
          position : relative;
          background-color : #FFFFFF;
          display : block;
          img {
            width : 100%;
            transition : all .4s ease-in-out;
          }
        }
        .main {
          padding : 10px 10px 15px;
          .title {
            display : block;
            font-weight : bold;
            font-size : 16px;
            line-height : 22px;
          }
          .price {
            margin-top : 15px;
            display : block;
            font-size : 16px;
            font-weight : bold;
            .new {
              display : inline-block;
              color : #F04400;
              vertical-align : middle;
            }
            .old {
              display : inline-block;
              color : #999999;
              text-decoration : line-through;
              vertical-align : middle;
              margin-left : 5px;
            }
          }
          .more {
            padding-top : 20px;
            display : block;
          }
        }
      }
    }

    @include res(phone) {
      &.grids-4 {
        .item {
          width : calc( 33% - 12px );
        }
      }
    }
    @include res(pad) {
      & > a {
        width : calc( 33% - 8px );
      }
      .item {
        .box {
          .main {
            padding : 20px;
            .title {
              font-size : 18px;
              line-height : 28px;
            }
          }
        }
      }
    }
    @include res(xlpad) {
      & > a.for-4 {
        width : calc( 25% - 8px );
      }
      .product-card {
        margin-bottom : 32px;
        .text-box {
          h1 {
            font-size : 20px;
          }
        }
      }
      &.grids-4 {
        .item {
          width : calc( 25% - 8px );
        }
      }
    }
    @include res(nb) {
      .product-card {
        .text-box {
          h1 {
            font-size : 24px;
          }
        }
      }
      .item {
        width : calc( 33% - 12px );
      }
    }
  }
}


